<div class="select-group variantColor py-6 lg:py-0 border-b border-solid lg:border-none lg:mb-12">

    <div class="currently-selected flex my-1">

        <em class="hidden">{{ 'Farbe'|trans }}</em>

        <span class="text-sm">{{ defaultVariant.name }}</span>

    </div>

    <div class="options inline-flex -mx-1">

        {% for variant in product.variants %}

            {% set activeClass = '' %}

            {% if variant.name == defaultVariant.name %}

                {% set activeClass = 'active' %}

            {% endif %}

            {# ----- BEGINN Remove in Final Template ----- #}
            {% if variant.name == 'Rot' %}

                {% set color = 'bg-danger' %}

            {% elseif variant.name == 'Blau' %}

                {% set color = 'bg-brand-contrast' %}

            {% endif %}
            {# ----- END Remove in Final Template ----- #}

            <a href="#" class="swatch-link variant-color {{ activeClass }} flex w-10 h-10 m-1 relative justify-center items-center border border-solid border-transparent" rel="nofollow">

                <span class="swatch-content flex items-stretch w-full h-full">

                    <div class="color-wrap flex w-full h-full">

                        <div class="swatch-silver {{ color }} block w-full h-full flex-basis-full"></div>

                    </div>

                    <span class="swatch-title text-center flex-basis-full self-center overflow-hidden hidden">{{ 'Rot'|trans }}</span>

                    <span class="accessibility-only accessibility-only absolute w-px h-px overflow-hidden top-auto" style="left: -10000px">

                        {{ 'Rot'|trans }} {{ 'auf Lager'|trans }}

                    </span>

                </span>

            </a>

        {% endfor %}

    </div>

</div>
