<div class="select-group variationSize py-6 lg:py-0">

    <div class="currently-selected flex my-1">

        <em class="hidden">{{ 'Größe'|trans }}</em>

        <span class="text-sm">{{ 'Größe auswählen'|trans }}</span>

        <a href="#" class="size-chart-link flex items-center ml-auto text-xs" aria-hidden="true">Größentabelle</a>

    </div>

    <div class="options inline-flex -mx-1">

        <a href="#" class="swatch-link variant-size active flex w-10 h-10 m-1 relative justify-center items-center border border-solid border-transparent" rel="nofollow">

            <span class="swatch-content variationSize flex w-full h-full border border-solid border-main color-text-primary">

                <span class="swatch-title text-center flex-basis-full self-center overflow-hidden">{{ 'S'|trans }}</span>

                <span class="accessibility-only accessibility-only absolute w-px h-px overflow-hidden top-auto" style="left: -10000px">

                    {{ 'S'|trans }} {{ 'auf Lager'|trans }}

                </span>

            </span>

        </a>

        <a href="#" class="swatch-link variant-size flex w-10 h-10 m-1 relative justify-center items-center border border-solid border-transparent" rel="nofollow">

            <span class="swatch-content variationSize flex w-full h-full border border-solid border-main color-text-primary">

                <span class="swatch-title text-center flex-basis-full self-center overflow-hidden">{{ 'XL'|trans }}</span>

                <span class="accessibility-only accessibility-only absolute w-px h-px overflow-hidden top-auto" style="left: -10000px">

                    {{ 'XL'|trans }} {{ 'auf Lager'|trans }}

                </span>

            </span>

        </a>

    </div>

</div>
