<div class="product-highlights-desktop hidden lg:flex">

    <div class="product-summary-wrap flex flex-wrap border-b mb-6 w-full">

        <div class="product-summary-details">

            <h2 class="text-sm uppercase mb-2 color-main-darkest">{% include 'Product/renderTypes/_default.html.twig' with {'value': product.mainTaxon.name } %}</h2>

            <h1 class="text-2xl uppercase font-bold mb-2 color-main-darkest">{% include 'Product/renderTypes/_default.html.twig' with {'value': product.name } %}</h1>

            <div class="price-review pb-6 justify-between">

                <div class="my-3">

                    {% include "Product/main/_price.html.twig" with {'price': product.price} %}

                </div>

                {% include 'Product/ratings/summary/_short.html.twig' with {'size': '1.1em'} %}

            </div>

        </div>

    </div>

</div>
