<div class="product-highlights-mobile flex flex-col lg:hidden pb-3 mb-6 text-center border-b">

    <h1 class="font-semibold text-xl mb-2 color-main-darkest">{% include 'Product/renderTypes/_default.html.twig' with {'value': productTranslation.name } %}</h1>

    <div class="pb-3 justify-center block text-center">

        <div class="my-1 block text-center">

                <span>

                    {% include "Product/main/_price.html.twig" with {'price': product.price} %}

                </span>

        </div>

        {% include 'Product/ratings/summary/_short.html.twig' with {'size': '1.1em'} %}

    </div>

</div>
