<section class="">

    <h1 tabindex="0" class="js-tab-accordion-title outline-none accordion-title flex uppercase border-t border-main px-7 md:px-11 items-center min-h-12 justify-between font-semibold lg:border-none">{{ tab.name }}</h1>

    <div id="target-{{ target|default(1) }}">

        <div class="px-7 md:px-11 lg:px-0 py-8 flex flex-wrap justify-between outline-none">

            {% if productTranslation.shortDescription is not empty %}

                <div class="relative flex-basis-full lg:flex-basis-2/3 lg:pr-32 border-b lg:border-none py-2 lg:py-0">

                    <h4 class="hidden lg:block color-main-darker">{% include 'Product/renderTypes/_default.html.twig' with {'value': productTranslation.name } %}</h4>

                    <div class="details-shortDescription mt-3 lg:mt-6 mb-6 text-base">{% include 'Product/renderTypes/_textraw.html.twig' with {'value': productTranslation.shortDescription } %}</div>

                </div>

            {% endif %}

            {% if productTranslation.description is not empty %}

                <div class="relative flex-basis-full lg:flex-basis-1/3 lg:pl-3 pt-3 lg:pt-0">

                    <h4 class="hidden lg:block color-main-darker">{% include 'Product/renderTypes/_default.html.twig' with {'value': 'Merkmale'|trans } %}</h4>

                    <div class="feature-details-container mt-6">

                        {% include 'Product/renderTypes/_textraw.html.twig' with {'value': productTranslation.description} %}

                    </div>

                </div>

            {% endif %}

        </div>

    </div>

</section>
