<div class="product-details-list block -mx-7 md:-mx-11 lg:mx-0">

    <section class="product-information block">

        <div class="js-tab-accordion flex lg:justify-end flex-col lg:border-none border-b lg:relative">

            {% include 'Product/tabs/_menu.html.twig' %}

            {% include 'Product/tabs/_content.html.twig' %}

        </div>

    </section>

</div>
