<nav role="tablist" class="tabs hidden lg:visible min-h-12 bg-main-accent lg:h-12">

    <div class="flex flex-wrap justify-end">

        <div class="relative flex-basis-1/3">

            <div class="flex flex-basis-full">

                {% for tab in product.layout.tabs %}

                    {% set renderTab = true %}

                    {% if 'technical' in tab.template %}

                        {% if product.attributeValues is empty %}

                            {% set renderTab = false %}

                        {% endif %}

                    {% endif %}

                    {% if renderTab  %}

                        <div class="px-3 flex-grow">

                            <a class="flex flex-grow h-12 items-center tabs-tab justify-center bg-main-contrast outline-none text-sm" href="#target-{{ loop.index }}">

                                <span class="border-b-2 border-transparent hover:border-brand">{% include 'Product/renderTypes/_default.html.twig' with {'value': tab.name } %}</span>

                            </a>

                        </div>

                    {% endif %}

                {% endfor %}

            </div>

        </div>

    </div>

</nav>
