<section role="tablist">

    <h1 role="tab" tabindex="0" class="js-tab-accordion-title outline-none accordion-title flex uppercase border-t border-main px-7 md:px-11 items-center h-12 justify-between font-semibold lg:border-none">{{ tab.name }}</h1>

    <div id="target-{{ target|default(1) }}" class="color-main-darkest">
        <div class="nutritionalvalues-content px-7 md:px-11 lg:px-0 py-8 flex flex-col flex-wrap justify-between outline-none">

            <h4>{{ 'Haribo "Goldbären"' }}</h4>

            <p>{{ 'FRUCHTGUMMI' }}</p>

            <p>{{ 'Zutaten: Glukosesirup; Zucker; Gelatine; Dextrose; Fruchtsaft aus Fruchtsaftkonzentrat: Apfel, Erdbeere, Himbeere, Orange, Zitrone, Ananas; Säuerungsmittel: Citronensäure; Frucht- und Pflanzenkonzentrate: Saflor, Spirulina, Apfel, Holunderbeere, Orange, Schwarze Johannisbeere, Kiwi, Zitrone, Aronia, Mango, Passionsfrucht, Traube; Aroma; Holunderbeerextrakt; Überzugsmittel: Bienenwachs weiß und gelb, Carnaubawachs.' }}</p>

            <p>{{ 'Mindestens haltbar bis Ende… (siehe Rückseite, Beutelrand). Vor Wärme und Feuchtigkeit schützen. Hergestellt in der EU.' }}</p>

            <figure>
                <table>
                    <tbody>
                    <tr>
                        <td>{{ 'Nährwerte' }}</td>
                        <td>{{ 'Pro 100 g' }}</td>
                        <td>{{ 'RI* pro Portion (25 g)' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Energie' }}</td>
                        <td>{{ '1459 kJ / 343 kcal' }}</td>
                        <td>{{ '4 %' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Fett' }}</td>
                        <td>{{ '<0,5 g' }}</td>
                        <td>{{ '< 1 %' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Davon gesättigte Fettsäuren' }}</td>
                        <td>{{ '0,1 g' }}</td>
                        <td>{{ '< 1 %' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Kohlenhydrate' }}</td>
                        <td>{{ '77 g' }}</td>
                        <td>{{ '7 %' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Davon Zucker' }}</td>
                        <td>{{ '46 g' }}</td>
                        <td>{{ '13 %' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Eiweiß' }}</td>
                        <td>{{ '6,9 g' }}</td>
                        <td>{{ '3 %' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Salz' }}</td>
                        <td>{{ '0,07 g' }}</td>
                        <td>{{ '< 1 %' }}</td>
                    </tr>
                    </tbody>
                </table>
                <p>{{ 'RI* = Referenzmenge pro Tag' }}</p>
            </figure>
            <p>{{ 'Referenzmenge für einen durchschnittlichen Erwachsenen (8400 kJ/2000 kcal). Packung enthält 8 Portionen.' }}</p>
        </div>
    </div>
</section>
