{% if product.attributeValues is not empty %}

    {% set attributeValue = {

        'name': 'Technische Daten',
        'value': {
            "material" : [
                {
                    "name" : "Durchmesser",
                    "value" : "Ø 84 mm"
                },
                {
                    "name" : "Höhe",
                    "value" : "105 mm"
                },
                {
                    "name" : "Gewicht",
                    "value" : "ca. 390 g"
                },
                {
                    "name" : "Füllmenge",
                    "value" : "ca. 330 ml"
                },
                {
                    "name" : "Waschhinweis",
                    "value" : "<a href='#'>Handspülung empfohlen</a>"
                },
            ],
            "product" : [
                {
                    "name" : "Farbvarianten",
                    "value" : "blau, rot, gelb, braun, schwarz"
                },
                {
                    "name" : "Druckfläche",
                    "value" : "140 mm x 60 mm"
                },
                {
                    "name" : "Druckfläche",
                    "value" : "140 mm x 60 mm"
                },
                {
                    "name" : "Druckflächen Informationen",
                    "value" : "Brillant glänzende Foto-Druckqualität (Sublimation)\n\rHitzebeständig, kratz- und spülmaschinenfest\n\rExtreme Haltbarkeit des Motivs durch Thermo-Transfer-Druck"
                }
            ]
        },
        'attribute' : {
            'id': 1,
            'code': 'technical_specs',
            'type': 'text',
            'configuration': {}
        }

    }
    %}

    <section>

        <h1 tabindex="0" class="js-tab-accordion-title accordion-title outline-none flex uppercase border-t border-main px-7 md:px-11 items-center min-h-12 justify-between font-semibold lg:border-none">{{ tab.name }}</h1>

        <div id="target-{{ target|default(2) }}">

            {% include 'Product/renderTypes/_json.html.twig' with {'type': 'technicalSpecs', 'value': attributeValue.value} %}
            {#{% include 'Product/renderTypes/json.html.twig' with {'type': 'technicalSpecs', 'value': product.attributeValueByCode('technical_specs')} %}#}

        </div>

    </section>

{% endif %}
