<table class="size-chart-table" id="women-2017-ow-apparel-tops">
    <thead class="size-chart-table-head">
    <tr>
        <th class="header-cell-0-0 " colspan="1">Größe</th>
        <th class="header-cell-0-1 " colspan="1">XXS</th>
        <th class="header-cell-0-2 " colspan="1">XS</th>
        <th class="header-cell-0-3 " colspan="1">S</th>
        <th class="header-cell-0-4 " colspan="1">M</th>
        <th class="header-cell-0-5 " colspan="1">L</th>
        <th class="header-cell-0-6 " colspan="1">XL</th>
        <th class="header-cell-0-7 " colspan="1">XXL</th>
        <th class="header-cell-0-8 " colspan="1">3XL</th>
    </tr>
    </thead>
    <tbody class="size-chart-table-body">
    <tr>
        <td class="body-col-0  ">Größe als Zahl</td>
        <td class="body-col-1  ">00</td>
        <td class="body-col-2  ">0-2</td>
        <td class="body-col-3  ">4-6</td>
        <td class="body-col-4  ">8-10</td>
        <td class="body-col-5  ">12-14</td>
        <td class="body-col-6  ">16</td>
        <td class="body-col-7  ">18</td>
        <td class="body-col-8  ">20</td>
    </tr>
    <tr>
        <td class="body-col-0  ">Brust</td>
        <td class="body-col-1  ">74-79</td>
        <td class="body-col-2  ">79-84</td>
        <td class="body-col-3  ">84-89</td>
        <td class="body-col-4  ">89-94</td>
        <td class="body-col-5  ">94-100</td>
        <td class="body-col-6  ">100-108</td>
        <td class="body-col-7  ">108-116</td>
        <td class="body-col-8  ">116-126</td>
    </tr>
    <tr>
        <td class="body-col-0  ">Taille</td>
        <td class="body-col-1  ">56-61</td>
        <td class="body-col-2  ">61-66</td>
        <td class="body-col-3  ">66-71</td>
        <td class="body-col-4  ">71-76</td>
        <td class="body-col-5  ">76-84</td>
        <td class="body-col-6  ">84-94</td>
        <td class="body-col-7  ">94-104</td>
        <td class="body-col-8  ">104-114</td>
    </tr>
    <tr>
        <td class="body-col-0  ">Hüfte</td>
        <td class="body-col-1  ">81-86</td>
        <td class="body-col-2  ">86-91</td>
        <td class="body-col-3  ">91-97</td>
        <td class="body-col-4  ">97-102</td>
        <td class="body-col-5  ">102-108</td>
        <td class="body-col-6  ">108-116</td>
        <td class="body-col-7  ">116-123</td>
        <td class="body-col-8  ">123-133</td>
    </tr>
    </tbody>
</table>
