{% if value is not null %}
    {% set values = configuration.choices %}
    {% if value is iterable %}
        {% for val in value %}
            {% if locale in values[val]|keys and values[val][locale] is not empty %}
                {{ values[val][locale] }}{% if loop.last == false %}, {% endif %}
            {% else %}
                {{ values[val][fallbackLocale] }}{% if loop.last == false %}, {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if values[value][locale] is not empty %}
            {{ values[value][locale] }}
        {% elseif values[value][fallbackLocale] is not empty %}
            {{ values[value][fallbackLocale] }}
        {% endif %}
    {% endif %}
{% endif %}
