.aa-dropdown-menu {
  z-index: auto !important;
}

.aa-dropdown-menu .aa-suggestion {
  @apply px-2 py-3 pl-10 cursor-pointer text-sm;
}
.aa-dropdown-menu .aa-suggestion.aa-cursor {
  @apply bg-brand-accent;
}
.aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.search-input-col .is-opened .search-container {
  position: relative;
  z-index: 1000;
}

.header-search .backdrop {
  transform: translateZ(0);
  background: rgba(0,0,0,.05);
}

.header-search .is-opened .backdrop {
  z-index: 999;
  opacity: 1;
}

.header-search .is-opened .search-input-col {
  position: relative;
  z-index: 1000
}

.header-search .is-opened .search-container {
  position: relative;
  z-index: 1000
}

@screen lg {
  .search-input-col .search-term-suggestion {
    transition: background .25s;
  }

  .micro-search-app .backdrop {
    background: rgba(0,0,0,.25);
  }

  .aa-dropdown-menu .aa-suggestion {
    @apply px-2 py-3;
  }
}
