<div class="relative py-5 flex flex-col lg:flex-row border-t justify-center">

    <a href="?showRatings=all" class="flex flex-row lg:flex-col justify-center items-center lg:border-r lg:mr-5 lg:pr-5 hover:opacity-75" title="{{ 'Alle Bewertungen anzeigen'|trans }}">

        <div class="flex">

           <span class="flex text-5xl lg:text-2xl font-bold justify-center mb-1 lg:mb-2 leading-none">

                {{ productRatingSummary.qualityIndicators.reviewIndicator.overallMark }}

            </span>

        </div>

        <div class="flex flex-col ml-3 lg:ml-0 lg:items-center">

            {% include 'Product/ratings/_helper/_stars.html.twig' with {'size': size|default('1.5em'), 'starCounter' : starCounter, 'rating': productRatingSummary.qualityIndicators.reviewIndicator.overallMark} %}

            <span class="flex text-sm lg:text-s lg:mt-2">

                {{ productRatingSummary.qualityIndicators.reviewIndicator.totalReviewCount|number_format(0, '.', '.') }} {{ 'Bewertungen'|trans }}

            </span>

        </div>

    </a>

    <div class="hidden lg:block overflow-visible float-none pt-5 lg:pt-0 w-full lg:flex-basis-1/3">

        {% if productRatingSummary.qualityIndicators.reviewIndicator.totalReviewCount > 0 %}

            <div class="flex flex-row">

                <div class="flex flex-wrap content-between">

                    {% for i in range(1, starCounter) %}

                        {% set reviewMark = 0 %}

                        {% for review in productReviews.reviews %}

                            {% if review.mark == (starCounter + 1 - i) %}

                                {% set reviewMark = reviewMark + 1 %}

                            {% endif %}

                        {% endfor %}

                        {% set markPercentage = (100 / productRatingSummary.qualityIndicators.reviewIndicator.totalReviewCount ) * reviewMark %}

                        {% set filledStars = (starCounter + 1) - i %}

                        <a href="?showRatings={{ filledStars }}" class="flex relative w-full h-5 items-center hover:opacity-75" data-score-distribution="{{ filledStars }}" title="{{ filledStars }} {{ 'Sterne Bewertungen anzeigen'|trans}}">

                            {% include 'Product/ratings/_helper/_stars.html.twig' with {'size': size|default('1.0em'), 'starCounter' : starCounter, 'rating': (starCounter + 1 - i)} %}

                            <div class="w-full h-5 ml-4">

                                <div class="flex w-full h-3 my-1 relative" data-score-distribution="{{ filledStars }}">

                                    <div class="absolute w-full h-full bg-main"></div>

                                    <div class="relative w-full h-full">

                                        <div class="absolute w-1/3 h-full bg-brand-darker" style="width: {{ markPercentage }}%;"></div>

                                    </div>

                                </div>

                            </div>

                        </a>

                    {% endfor %}

                </div>

            </div>

        {% endif %}

    </div>

</div>
