{% set starCounter = 5 %}

{% if productRatingSummary is null %}

    {% set overallMark = 0 %}

{% else %}

    {% set overallMark = productRatingSummary.qualityIndicators.reviewIndicator.overallMark %}

{% endif %}

<a class="inline-block leading-tight text-sm" href="#productRatings" title="{{ 'Bewertungsübersicht'|trans }}">

    <div class="mt-2 lg:mt-0 flex">

        <div class="flex">

            {% include 'Product/ratings/_helper/_stars.html.twig' with {'size': size|default('1.0em'), 'starCounter' : starCounter, 'rating': overallMark} %}

        </div>

        {% if overallMark > 0 %}

            <span class="color-main-darkest opacity-75">({{ productRatingSummary.qualityIndicators.reviewIndicator.totalReviewCount }})</span>

            <div class="flex pl-3 color-main-darkest">

                <span class="font-bold">{{ productRatingSummary.qualityIndicators.reviewIndicator.overallMark }}</span>

                <span class="opacity-75">/{{ starCounter }}</span>

            </div>

        {% else %}

            <span class="pl-3 color-main-darkest opacity-75">{{ 'Noch keine Bewertung vorhanden'|trans }}</span>

        {% endif %}

    </div>

</a>
