<figure class="main-product-content flex flex-col mb-0 justify-center pt-6 lg:pt-12 lg:flex-row">

    {% include 'Product/main/highlights/_mobile.html.twig' %}

    {% include 'Product/main/_slideshow.html.twig' %}

    <div class="lg:flex-basis-1/3 lg:pb-12">

        <figcaption class="lg:px-3">

            {% include 'Product/main/highlights/_desktop.html.twig' %}

            {% include 'Product/main/_variants.html.twig' %}

            <button class="btn-sm btn-primary bg-brand hover:bg-brand-light color-text-primary-contrast min-h-12 uppercase w-full ripple">

                {{ 'Jetzt Gestalten'|trans }}

            </button>

            <div class="flex relative justify-center mt-6 py-6 border-t border-solid">

                <div class="static block text-sm px-3" id="">

                    <a class="flex items-center color-text-primary" href="#" style="z-index: 2; position: relative;">

                        {% include 'assets/svg/_pp-ant-design-alt-share-outline.svg.twig' with {'width' : '1.25em', 'height' : '1.25em', 'class': 'flex fill-current color-text-primary mr-1'} %}

                        {{ 'Teilen'|trans }}

                    </a>

                    <div class="mt-6 p-6 overflow-visible bg-text-primary-contrast shadow-md border border-solid border-main-lighter hidden">

                        <h4 class="uppercase text-align-left font-semibold mb-2">{{ 'Teilen auf'|trans }}</h4>

                        <div class="flex">

                            <div role="button" tabindex="0" class="mr-1">

                                {% include 'assets/svg/_pp-facebook.svg.twig' with {'class': 'fill-current color-text-primary-contrast', 'width': 44, 'height': 44} %}

                            </div>

                            <div role="button" tabindex="0" class="mx-1">

                                {% include 'assets/svg/_pp-instagram.svg.twig' with {'class': 'fill-current color-text-primary-contrast', 'width': 44, 'height': 44} %}

                            </div>

                        </div>

                        <div class="flex justify-between text-sm">

                            <h4 class="font-semibold uppercase text-align-left mt-4 mb-2">{{ 'Link teilen'|trans }}</h4>

                            <span class="font-semibold uppercase text-align-left mt-4 mb-2 color-main-dark opacity-0">{{ 'Link kopiert!'|trans }}</span>

                        </div>

                        <input id="share-url" class="share-url form-control form-control-sm w-full truncate border-2" readonly="" value="www.printplanet.de">

                        <label for="share-url" class="accessibility-only overflow-hidden w-px h-px left-0 top-auto absolute">Share Link URL</label>

                    </div>

                </div>

            </div>

        </figcaption>

    </div>

</figure>
