{% import "Product/Common/Macro/money.html.twig" as money %}

<span class="color-main-darker font-light text-xl">

    {#{{ money.calculatePrice(product|sylius_resolve_variant) }}#}
    {{ price|number_format(2, ',', '.')}} {{ '€'|trans }}

</span>
