<div id="slideshow" class="flex lg:flex-basis-2/3 lg:mb-16 lg:pr-12 md:pb-13 border-b border-solid lg:border-none">

    <div class="slideshow-content flex w-full">

        {% include 'Product/main/slideshow/thumbs.html.twig' %}

        {% include 'Product/main/slideshow/main.html.twig' %}

    </div>

</div>
