<div class="variant-select-wrap lg:mb-8">

    <span>

        {% include 'Product/main/variants/_colors.html.twig' %}

        {% include 'Product/main/variants/_sizes.html.twig' %}

    </span>

</div>
