<div class="technical-specs-table px-7 md:px-11 lg:px-0 py-8 flex flex-wrap justify-between outline-none">

    <div class="flex lg:flex-basis-1/2 lg:pr-4 relative w-full flex flex-col items-stretch">

        {% for item in value.material %}

            {% set borderClass = 'lg:border-b' %}

            {% if loop.first %}

                {% set borderClass = 'lg:border-b lg:border-t' %}

            {% endif %}

            {% include 'Product/renderTypes/json/helper/_technicalSpec.html.twig' with { 'item': item, 'borderClass': borderClass } %}

        {% endfor %}

    </div>

    <div class="flex lg:flex-basis-1/2 lg:pl-4 relative w-full flex flex-col items-stretch">

        {% for item in value.product %}

            {% set borderClass = 'lg:border-b' %}

            {% if loop.first %}

                {% set borderClass = 'lg:border-b lg:border-t' %}

            {% endif %}

                {% include 'Product/renderTypes/json/helper/_technicalSpec.html.twig' with { 'item': item, 'borderClass': borderClass } %}

        {% endfor %}

    </div>

</div>
