{% if starCounter is not defined  %}

    {% set starCounter = 5 %}

{% endif %}

{% if rating is not defined %}

    {% set rating = 0 %}

{% endif %}

<span class="flex">

    {% for i in range(1, starCounter)  %}

        {% if i <= rating %}

            {% include 'assets/svg/_pp-ion-ios-star.svg.twig' with {'width' : size|default('1.0em'), 'height' : size|default('1.0em'), 'class': 'flex fill-current color-main-darkest'} %}

        {% else %}

            {% if (1 - (i - rating))|round == 1 %}

                {% include 'assets/svg/_pp-ion-ios-star-half.svg.twig' with {'width' : size|default('1.0em'), 'height' : size|default('1.0em'), 'class': 'flex fill-current color-main-darkest'} %}

            {% else %}

                {% include 'assets/svg/_pp-ion-ios-star-outline.svg.twig' with {'width' : size|default('1.0em'), 'height' : size|default('1.0em'), 'class': 'flex fill-current color-main-darkest'} %}

            {% endif %}

        {% endif %}

    {% endfor %}

</span>
