<div class="flex flex-col lg:flex-row {{ borderClass|default('') }}">

    <div class="flex lg:flex-basis-1/3 lg:items-center">

        <div class="flex uppercase font-semibold pb-1 lg:py-5 text-sm">

            {% include 'Product/renderTypes/_default.html.twig' with {'value': item.name } %}

        </div>

    </div>

    <div class="flex lg:flex-basis-2/3">

        <div class="flex w-full pb-6 lg:py-5 text-sm">

            {% include 'Product/renderTypes/_textraw.html.twig' with {'value': item.value } %}

        </div>

    </div>

</div>
