{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <!-- .container -->
        <div class="px-0 sm:px-7 sm:mx-auto sm:max-w-3xl lg:px-11">

            <div class="w-full h-full min-h-145 p-24">

                <h1 class="text-4xl mb-12">Javascript Components</h1>

                <button class="btn btn-outline" onclick="openConfirm('warning')" type="button">Open Warning Confirm</button>
                <button class="btn btn-outline" onclick="openConfirm('error')" type="button">Open Error Confirm</button>
                <button class="btn btn-outline" onclick="openNotify()" type="button">Open Notify/Modal</button>

            </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        function openConfirm(type) {

            swal.fire({
                html: `This is the ${type} text.`,
                type: type,
                title: `${type}`,
                showCancelButton: true,
                reverseButtons: true,
                buttonsStyling: false,
                customClass: {container: 'pp-confirm pp-confirm-' + type, content: 'text-left'},
                confirmButtonClass: 'btn-sm p-3 btn-primary bg-danger',
                cancelButtonClass: 'btn-sm',
                confirmButtonText: '{{ 'Kopieren'|trans }}',
                cancelButtonText: '{{ 'Abbrechen'|trans }}'
            });

        }


        function openNotify() {

            swal.fire({
                title: '{{ 'Versandinformationen'|trans }}',
                html: '<div style="width:auto; margin:0; border:none; box-shadow:none; text-align:left;" class="service"><h4 class="font-semibold">Versandkosten je Bestellung</h4>\n' +
                    '<table class="shipping">\n' +
                    '    <thead>\n' +
                    '    <tr>\n' +
                    '        <td>Liefer- und Rechnungsanschrift in</td>\n' +
                    '        <td>Versandkosten</td>\n' +
                    '    </tr>\n' +
                    '    </thead>\n' +
                    '    <tbody>\n' +
                    '    <tr>\n' +
                    '        <td>Deutschland</td>\n' +
                    '        <td>4,99&nbsp;€</td>\n' +
                    '    </tr>\n' +
                    '    <tr>\n' +
                    '        <td>Österreich</td>\n' +
                    '        <td>9,90&nbsp;€</td>\n' +
                    '    </tr>\n' +
                    '    <tr>\n' +
                    '        <td>Niederlande</td>\n' +
                    '        <td>11,90&nbsp;€</td>\n' +
                    '    </tr>\n' +
                    '    <tr>\n' +
                    '        <td>Schweiz*</td>\n' +
                    '        <td>39,90&nbsp;€</td>\n' +
                    '    </tr>\n' +
                    '    </tbody>\n' +
                    '</table>\n' +
                    '<div>\n' +
                    '<div class="shipping-info">\n' +
                    'Alle Preise inkl. MwSt.     * Versand per UPS <img class="inline" src="/_pub/index/ups-logo.png" width="17" height="20" title="Versand per UPS" alt="UPS"><br>\n' +
                    '    <a href="https://www.printplanet.dev/service/faq/zahlungshinweise" target="_blank" class="text-xs underline color-main-darkest hover:color-brand-light cursor-pointer">Bedingungen für und Informationen zur gewählten Zahlungsmethode.</a><br>\n' +
                    'Für die Zahlungsarten werden keine Kosten erhoben. Preisangaben gelten ausschließlich für die Versandkosten.<br><br>\n' +
                    '</div>\n' +
                    '</div>\n' +
                    '<h4 class="font-semibold">Lieferzeit</h4>\n' +
                    '<img class="inline" src="/_pub/index/versandfertig.jpg" width="117" height="57" alt="Versandfertig in 24 Stunden">    <img class="inline" src="/_pub/index/dhl.jpg" width="85" height="50" alt="DHL Versand">\n' +
                    '\n' +
                    '<p>\n' +
                    'PrintPlanet.de produziert die angebotenen Produkte mit wenigen Ausnahmen rund um die Uhr in Eigenfertigung. Die Produkte sind aus diesem Grund innerhalb von\n' +
                    '<strong>24 Stunden versandfertig</strong>\n' +
                    'und werden werktäglich (außer samstags) bis 15.00 Uhr an den Paketzusteller übergeben. Einige wenige Produkte haben aus technischen oder qualitativen Gründen eine längere Produktionszeit und sind daher erst nach längerer Produktionszeit versandfertig.\n' +
                    '</p>\n' +
                    '\n' +
                    '<p>Folgende Produkte haben eine längere Produktionszeit als 24 Stunden:</p>\n' +
                    '\n' +
                    '<ul>\n' +
                    '    <li>Kerzen</li>\n' +
                    '    <li>Taufkerzen</li>\n' +
                    '    <li>Uhren im XXL-Format</li>\n' +
                    '    <li>Aufkleber</li>\n' +
                    '    <li>Fahrzeug-Klebfolie</li>\n' +
                    '    <li>Mousepads</li>\n' +
                    '    <li>Lackierte Poster</li>\n' +
                    '    <li>Schultüten</li>\n' +
                    '</ul>\n' +
                    '\n' +
                    '<p>Beachten Sie in diesem Fall bitte den Versandhinweis in den Produktinformationen bzw. in der Warenkorb-/Bestellübersicht.</p>\n' +
                    '\n' +
                    '\n' +
                    '<div class="text-highlight">\n' +
                    '<p>Bei Zahlung per Vorkasse wird Ihre Bestellung erst nach Zahlungseingang bearbeitet. In diesem Fall beginnt die Lieferzeit mit dem Eingang der Zahlung.</p>\n' +
                    '<p>Sobald Ihre Bestellung unser Haus verlässt, erhalten Sie eine Versandbestätigung per E-Mail.</p>\n' +
                    '</div>\n' +
                    '\n' +
                    '<h6 class="font-semibold">Zustellzeit</h6>\n' +
                    '<p>Unsere Erfahrungen mit dem Versanddienstleister haben gezeigt, dass 95 Prozent der Pakete innerhalb eines Werktages (einschließlich Samstag) zugestellt werden. Wir können jedoch keine Garantie für die Lieferzeit des Paketzustellers übernehmen.</p>\n' +
                    '\n' +
                    '<p>Die Zeit, die der Paketdienst für den Transport zu Ihnen benötigt ist regional unterschiedlich und liegt zu 98% bei 1-4 Werktagen inkl. Samstagszustellung.</p>\n' +
                    '\n' +
                    '<p>Die gesamte Lieferzeit unserer Produkte bis zu Ihnen nach Hause setzt sich aus der Produktionszeit und der Transportzeit zusammen. </p>\n' +
                    '\n' +
                    '<h4 class="font-semibold">Qualitätsprüfung/Lieferverzögerung</h4>\n' +
                    '<p>Ihre Ware wird einer strengen Qualitätskontrolle unterzogen. Hierbei kann es vorkommen, dass ein bereits vollständig gefertigtes Produkt aus der Lieferung herausgenommen werden muss. In diesem Fall würde sich die Lieferung verzögern. Hier bitten wir um Verständnis, weil individuelle Produkte auf jeden Fall neu produziert werden müssen.</p>\n' +
                    '\n' +
                    '<p>Nur erstklassige Qualität kommt zur Auslieferung - unsere positiven Kundenbewertungen sprechen für dieses Vorgehen.</p>\n' +
                    '\n' +
                    '<h4 class="font-semibold">Warum ist meine Ware noch nicht da?</h4>\n' +
                    '\n' +
                    '<p>Unser Versprechen "24 Stunden versandfertig" beinhaltet die werktägliche Produktion und Übergabe an den\n' +
                    '    Paketdienst innerhalb von 24 Stunden. Jeweils Montag bis Freitag.</p>\n' +
                    '\n' +
                    '<p>Die gesamte Lieferzeit unserer Produkte bis zu Ihnen nach Hause liegt bei der jeweiligen Produktionszeit zzgl. der regional und saisonal unterschiedlichen Transportzeiten des Versanddienstleisters.</p>\n' +
                    '<p>Die gesamte Lieferzeit unserer Produkte bis zu Ihnen nach Hause liegt innerhalb Deutschlands zu 98% bei 2-4 Werktagen inkl. Transportzeit.</p>\n' +
                    '\n' +
                    '<h6 class="font-semibold">Sie haben bereits eine Versandbestätigung erhalten?</h6>\n' +
                    '<p>Wenn Sie eine Versandbestätigung per Email erhalten haben, dann ist Ihre Ware mit dem Paketdienst auf dem Weg zu\n' +
                    '    Ihnen. Eventuelle Verzögerungen bei der Zustellung durch den Paketdienst können wir leider nicht verantworten\n' +
                    '    bzw. beeinflussen.</p>\n' +
                    '<p>In Ihrer Versandbestätigung finden Sie eine Paketverfolgung detailierten Informationen, wo sich Ihre Ware zurzeit befindet.</p>\n' +
                    '\n' +
                    '<h6 class="font-semibold">Sie haben noch keine Versandbestätigung erhalten?</h6>\n' +
                    '<p>Wenn Sie nach Ablauf der angegebenen Produktionszeit am Folge-Werktag noch keine Versandbestätigung erhalten haben, dann wenden Sie sich gern an unseren Support. Wir recherchieren gern den Status Ihrer Bestellung.</p>\n' +
                    '\n' +
                    '<h4 class="font-semibold">Express-Versand</h4>\n' +
                    '<p>Zu besonderen Geschenkanlässen und Feiertagen realisieren wir zusätzlich Sonderfertigungen und Express-Sendungen,\n' +
                    '    so dass Sie Ihre Ware in jedem Fall termingerecht erhalten. Bei besonders zeitkritischen Terminzustellungen nutzen Sie bitte die kostenlose Beratungs-Hotline (0800 / 9557766).</p>\n' +
                    '\n' +
                    '<h6 class="font-semibold">Ein Express-Versand kann gegen Aufpreis vorgenommen und unter folgenden Voraussetzungen nur telefonisch angefragt werden:</h6>\n' +
                    '<ul class="light">\n' +
                    '    <li>Der Warenwert inkl. Versandkosten beträgt über 100,00 EUR (inkl. MwSt.)</li>\n' +
                    '    <li>Nur Lieferungen nach Deutschland, Österreich, Niederlande oder Schweiz</li>\n' +
                    '    <li>Folgende Zahlungsarten sind ausgeschlossen: Vorkasse</li>\n' +
                    '</ul>\n' +
                    '<p>Der Aufpreis richtet sich nach Paketgröße, Lieferadresse und Zustellzeit und ist ab 20,00 EUR inkl. MwSt. möglich.</p>\n' +
                    '\n' +
                    '<h4 class="font-semibold">Auslandsversand</h4>\n' +
                    '<p>Der Verkauf und die Lieferung unserer Waren erfolgt aus rechtlichen Gründen ausschließlich in Länder der\n' +
                    '    Europäischen Union (z.Zt. nur Deutschland, Niederlande und Österreich) und der Schweiz. Bei Lieferung unserer\n' +
                    '    Produkte in die Schweiz fallen keine Zölle, Steuern und Gebühren an.</p></div>',
                position: 'top',
                showCloseButton: true,
                customClass: { container: 'pp-notify' },
                showConfirmButton: false
            });

        }
    </script>

{% endblock %}