{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <!-- .container -->
        <div class="px-0 sm:px-7 sm:mx-auto sm:max-w-3xl lg:px-11">

            <div class="w-full h-full min-h-145 p-24 color-danger">

                {% for template in templates %}
                    <div class="p-6 w-1/4 inline-block">
                    {% set templateFile = 'assets/svg/' ~ template %}
                    {% include templateFile with {'class': 'fill-current color-text-brand-darker', 'width':'48px', 'height':'48px'} %}
                    <span class="text-xxs block min-h-11 mt-1">{{ template }}</span>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>
{% endblock %}
