{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <!-- .container -->
        <div class="px-0 sm:px-7 sm:mx-auto sm:max-w-3xl lg:px-11 bg-brand-accent">

            <div class="w-full h-full bg-main-accent min-h-145">
                <a href="/presentation" class="flex justify-center mt-20 color-brand hover:color-brand-light">Presentation</a>

                {% if slug is defined %}
                    <h1>{{ slug|upper }}</h1>
                {% endif %}
            </div>

        </div>
    </section>
{% endblock %}
