{% for association in product.associations %}
    {{ render(url('sylius_shop_partial_product_association_show', {'productId': product.id, 'id': association.id, 'template': '_association.html.twig'})) }}
{% else %}
    <h4 class="ui horizontal section divider header">{{ 'Neueste Produkte'|trans }}</h4>
    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '../_horizontalList.html.twig'})) }}
{% endfor %}
