{# Svgs #}

{% spaceless %}
<svg viewBox="{{ svg.viewBox |join(' ') }}"

    {% if svg.class is not same as (false) %}
        class="icon {{ svg.class }}"
    {% else %}
        class="icon"
    {% endif %}

    {% if svg.width is not same as (false) %}
        width="{{ svg.width }}"
    {% endif %}

    {% if svg.height is not same as (false) %}
        height="{{ svg.height }}"
    {% endif %}

>
    {% if svg.title is not same as(false) -%}
    <title>{{ svg.title }}</title>
    {%- endif -%}

    {% if svg.path is not same as(false) -%}
    {% if svg.path is iterable %}
        {% for path in svg.path %}
            {% if path is iterable %}
                <path d="{{ path.coordinates }}" {{ path.attributes|join(' ')|raw }} ></path>

            {% else %}
                <path d="{{ path }}"></path>
            {% endif %}
        {% endfor %}
    {% else %}
        <path d="{{ svg.path }}"></path>
    {% endif %}
    {%- endif -%}
</svg>
{% endspaceless %}
