{% set svg = {'viewBox': ['0','0','24','24'] , 'title': title|default(false), 'path' : 'M19 21H8V7h11m0-2H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-3-4H4c-1.1 0-2 .9-2 2v14h2V3h12V1z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}