{% set svg = {'viewBox': ['0','0','1200','1200'] , 'title': title|default(false), 'path' : 'M600.006 989.352l178.709-178.709L1200 389.357l-178.732-178.709L600.006 631.91 178.721 210.648 0 389.369l421.262 421.262 178.721 178.721h.023z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}