
{% set svg = {'viewBox': ['0', '0', '10', '15'], 'title': title|default(false), 'path' : 'M7.32 0L0 7.32l7.32 7.318 2.408-2.114L5.79 7.32l3.97-4.622L7.32 0z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}