{% set svg = {'viewBox': ['0','0','1200','1200'] , 'title': title|default(false), 'path' : 'M600.002 210.605L421.285 389.336 0 810.559l178.721 178.836 421.281-421.341 421.281 421.341L1200 810.559 778.733 389.336 600.002 210.605z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}