
{% set svg = {
    'viewBox': ['0', '0', '24', '24 '],
    'title': title|default(false),
    'path' : [{'coordinates': 'M16.106 17.283c-3.733 3.011-9.246 2.692-12.594-.835a9.11 9.11 0 01.405-12.962C7.643.02 13.51.2 17.012 3.888a9.108 9.108 0 01.217 12.324l5.555 5.5a.767.767 0 01-.012 1.078.784.784 0 01-1.09.013l-5.576-5.52zm-.747-1.396c-3.189 2.784-8.061 2.483-10.874-.674a7.576 7.576 0 01.68-10.763c3.188-2.785 8.06-2.483 10.874.673a7.577 7.577 0 01-.68 10.764z', 'attributes': ['fill-rule="evenodd"', 'clip-rule="evenodd"']}],
    'width': width|default(false),
    'height': height|default(false),
    'class': class|default(false) }
%}

{% include 'assets/svg/_base.svg.twig' %}