
{% set svg = {'viewBox': ['0', '0', '32', '32 '], 'title': title|default(false), 'path' : 'M0 16q0-2.168 0.575-4.245t1.607-3.827 2.514-3.233 3.233-2.514 3.827-1.607 4.245-0.575 4.245 0.575 3.833 1.607 3.233 2.514 2.508 3.233 1.607 3.827 0.575 4.245-0.575 4.245-1.607 3.833-2.508 3.233-3.233 2.508-3.833 1.607-4.245 0.575-4.245-0.575-3.827-1.607-3.233-2.508-2.514-3.233-1.607-3.833-0.575-4.245zM4.245 16q0 2.39 0.934 4.565t2.508 3.749 3.749 2.508 4.565 0.934 4.565-0.934 3.749-2.508 2.508-3.749 0.934-4.565-0.934-4.565-2.508-3.749-3.749-2.508-4.565-0.934-4.565 0.934-3.749 2.508-2.508 3.749-0.934 4.565zM7.928 17.443q0-0.176 0.131-0.307l2.795-2.782q0.118-0.131 0.294-0.131t0.307 0.131l2.051 2.038q0.118 0.131 0.294 0.131t0.307-0.131l6.4-6.387q0.118-0.131 0.294-0.131t0.307 0.131l2.808 2.756q0.131 0.131 0.131 0.307t-0.131 0.307l-9.809 9.809q-0.131 0.131-0.307 0.131t-0.307-0.131l-2.782-2.782-0.601-0.614-2.051-2.051q-0.131-0.118-0.131-0.294z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}