{% set svg = {
    'viewBox': ['0', '0', '24', '24 '],
    'title': title|default(false),
    'path' : 'M16.134 18.529a1.834 1.834 0 1 1-.003 3.668 1.834 1.834 0 0 1 .003-3.668zm-12.644 0c1.012 0 1.834.822 1.834 1.833a1.835 1.835 0 0 1-1.834 1.834 1.835 1.835 0 0 1-1.833-1.834c0-1.011.822-1.833 1.833-1.833zM18.447 1.876l.202-1.18a.942.942 0 0 1 .877-.674c1.216 0 2.434-.053 3.65.004.765.107.787.468.82.821.047.502-.365.967-.904.992h-2.799L17.73 16.896a.945.945 0 0 1-.878.673H2.588c-.614-.029-.743-.312-.846-.58-.211-.544.206-1.207.846-1.238h13.497l.478-2.808c-4.556.004-9.113.097-13.669-.001a1.407 1.407 0 0 1-1.258-1.051C1.038 9.104.556 6.293.018 3.495c-.128-.775.456-1.552 1.256-1.62l17.173.001zm-.308 1.813H1.906l1.432 7.436h13.514l.02.001L18.14 3.69z',
    'width': width|default(false),
    'height': height|default(false),
    'class': class|default(false) }
%}

{% include 'assets/svg/_base.svg.twig' %}