{% set svg = {'viewBox': ['0', '0', '24', '24 '], 'title': title|default(false), 'path' : 'M1.59 11.083h21.574c.795.004.831.624.836.855.003.23-.046.945-.846.945H.836C.04 12.88.004 12.26 0 12.031c-.003-.233.046-.948.846-.948h.745zM1.59 17.765h21.574c.795.005.831.625.836.855.003.231-.046.946-.846.946H.836c-.796-.004-.833-.624-.836-.853-.003-.233.046-.948.846-.948h.745zM1.59 4.434h21.574c.795.004.831.624.836.854.003.231-.046.946-.846.946H.836C.04 6.23.004 5.61 0 5.381c-.003-.233.046-.947.846-.947h.745z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}