{% set svg = {'viewBox': ['0','0','1200','1200'] , 'title': title|default(false), 'path' : 'M600 0C268.629 0 0 268.629 0 600s268.629 600 600 600 600-268.629 600-600S931.371 0 600 0zm201.861 187.424c17.59.139 34.667 6.627 47.568 19.529l99.849 99.81c27.6 27.601 25.709 74.104-4.143 104.027-29.925 29.925-76.502 31.704-104.026 4.18l-99.811-99.81c-27.601-27.525-25.671-74.177 4.18-104.027 15.859-15.899 36.45-23.866 56.383-23.709zM637.348 319.301l199.658 199.62-324.468 324.391L312.88 643.655l324.468-324.354zM261.056 681.459l210.6 210.601-263.335 52.735 52.735-263.336z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}