{% set svg = {'viewBox': ['0', '0', '184', '84 '], 'title': title|default(false), 'path' : [
    {'coordinates': '', 'attributes': []},
    {'coordinates': '', 'attributes': []},
    {'coordinates': '', 'attributes': []},
], 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}
