{% set svg = {'viewBox': ['0', '0', '24', '24'], 'title': title|default(false), 'path' : 'M24 2.5v19a2.5 2.5 0 0 1-2.5 2.5H16v-9h3l.75-4H16l.094-2.047c0-.994.262-1.57 1.602-1.57l2.125-.001.479-3.578S18.026 3.5 16.687 3.5c-3.008 0-4.749 2.006-4.749 5.094L12 11H9v4h3v9H2.5A2.5 2.5 0 0 1 0 21.5v-19A2.5 2.5 0 0 1 2.5 0h19A2.5 2.5 0 0 1 24 2.5z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}