{% set svg = {'viewBox': ['0', '0', '18', '33'], 'title': title|default(false), 'path' : 'M0 16.138L11.138 0l5.9 2.902-8.24 13.24 8.233 13.232-5.896 2.897L0 16.14z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}