
{% set svg = {'viewBox': ['0', '0', '10', '15'], 'title': title|default(false), 'path' : 'M2.68 15L10 7.68 2.68.362.272 2.476 4.21 7.68.24 12.302 2.68 15z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}