
{% set svg = {'viewBox': ['0', '0', '40', '40 '], 'title': title|default(false), 'path' : 'M19.9 16.9L35.8 1c.9-.9 2-1.2 2.4-.9l1.5 1.5c.5.5 0 1.5-.9 2.4L23 19.9l15.8 15.9c.9.9 1.2 2 .9 2.4L38 39.8c-.5.5-1.4.1-2.4-.9L19.9 23.1 4 38.9c-.9.9-2 1.2-2.4.9L0 38.2c-.5-.5-.1-1.4.9-2.4l15.8-15.9L.9 4.1C0 3.2-.3 2.1 0 1.7L1.5.2C2-.3 3.1.2 3.9 1l16 15.9z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}