{% set svg = {'viewBox': ['0', '0', '184', '84 '], 'title': title|default(false), 'path' : [
    {'coordinates': 'M73.51 57.28c-7.825.098-14.271 6.428-14.51 14.25l-.001.131c0 6.583 5.417 12 12 12l.181-.001c7.827-.103 14.267-6.446 14.49-14.27l.002-.223c0-6.523-5.367-11.89-11.89-11.89-.091 0-.181.001-.272.003zM71.8 76.95c-3.292 0-6-2.708-6-6 .141-3.769 3.229-6.818 7-6.91.071-.003.141-.004.212-.004 3.192 0 5.839 2.583 5.918 5.774-.109 3.871-3.259 7.026-7.13 7.14zM159.52 57.28c-7.825.058-14.269 6.427-14.42 14.25-.002.087-.003.175-.003.262 0 6.512 5.358 11.87 11.87 11.87.078 0 .155 0 .233-.002 7.83-.074 14.27-6.451 14.42-14.28.004-.118.005-.237.005-.355 0-6.446-5.304-11.75-11.75-11.75-.118 0-.237.001-.355.005zm-1.79 19.66h-.037c-3.182 0-5.8-2.618-5.8-5.8 0-.093.002-.187.007-.28.092-3.776 3.223-6.831 7-6.83.098-.005.196-.008.293-.008 3.133 0 5.71 2.578 5.71 5.71l-.003.198c-.092 3.871-3.298 7.006-7.17 7.01z', 'attributes': []},
    {'coordinates': 'M180.8 35.9c-2.7-2.94-5.397-5.887-8.09-8.84-9.23-10.11-7.93-9.42-14.54-9.42-2.46 0-5.62-8.84-13.18-8.84l-3.3 28.38h-1.89l2.55-23.55c.24-2.52.46-4.89.67-7.27.44-5-.82-6.36-5.84-6.36H53.27a7.965 7.965 0 00-1 .06H26.19a4.096 4.096 0 00-4.09 3.75v.48a3.807 3.807 0 003.78 3.78h20.69l-.65 6.16h-13a4.096 4.096 0 00-4.11 3.78v.47a3.817 3.817 0 003.79 3.79h12.5l-.64 6.15H4.1A4.106 4.106 0 000 32.21v.47a3.828 3.828 0 003.79 3.79h39.78l-.64 6.15h-28.1a4.097 4.097 0 00-4.1 3.79v.47a3.807 3.807 0 003.78 3.78H42.1l-.06.53c-.46 5.07-.92 10-1.29 14.87-.19 2.51 1.46 4.21 4.05 4.3 3.06.1 6.14.14 9.19 0a2.932 2.932 0 002.07-1.75 18.544 18.544 0 016.26-10.29c5.29-4.34 11.29-5.71 17.69-3 6.12 2.57 8.81 7.65 9 14.15.055.295.143.584.26.86h52.49c2.08-10.22 9.29-16.46 18.55-16.27 8.48.17 13.21 5.29 14.9 16.13 4.21.6 6.42-.85 6.8-4.76.68-7 1.26-14.06 1.8-21.1a10.747 10.747 0 00-3.01-8.43zm-34.17 1.28c.43-4.95.86-9.87 1.3-15 4.83 0 7.56-.11 12.16.08a5.568 5.568 0 013.38 1.69c4.05 4.21 7.62 8.56 11.87 13.19l-28.71.04z', 'attributes': []},
    {'coordinates': 'M9.29 22.3h11.87c2.075-.005 3.78-1.715 3.78-3.79v-.47a3.557 3.557 0 00-3.47-3.78H9.6a4.097 4.097 0 00-4.1 3.78v.47a3.808 3.808 0 003.79 3.79z', 'attributes': []},
], 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}
