
{% set svg = {'viewBox': ['0', '0', '18', '33'], 'title': title|default(false), 'path' : 'M18 16.862L6.862 33l-5.9-2.902 8.24-13.24L.969 3.626 6.865.729 18 16.86v.002z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}