
{% set svg = {'viewBox': ['0', '0', '20', '20'], 'title': title|default(false), 'path' : 'M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}