
{% set svg = {'viewBox': ['0', '0', '24', '24 '], 'title': title|default(false), 'path' : 'M21.5 0h-19A2.507 2.507 0 0 0 0 2.5v19C0 22.875 1.125 24 2.5 24h19c1.375 0 2.5-1.125 2.5-2.5v-19C24 1.125 22.875 0 21.5 0zM9.1 19.24c-3.97 0-7.2-3.23-7.2-7.2s3.23-7.2 7.2-7.2c1.838 0 3.507.651 4.827 1.884l.154.145-2.19 2.109-.139-.133c-.486-.468-1.34-1.024-2.651-1.024-2.283 0-4.14 1.893-4.14 4.22 0 2.28 1.78 4 4.14 4 2.475 0 3.472-1.874 3.723-2.84H8.8v-2.4h6.91c.145 0 .31 0 .31 1.38 0 4.156-2.846 7.059-6.92 7.059zM23 13h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}