{% set svg = {'viewBox': ['0', '0', '24', '24 '], 'title': title|default(false), 'path' : [
    {'coordinates': 'M18.412 18.58c2.117-2.004 2.715-4.873 1.33-6.386a2.734 2.734 0 0 0-1.225-.764c.377.14.71.359.98.66 1.29 1.443.665 4.241-1.39 6.23-2.056 1.99-4.783 2.436-6.072.994-1.161-1.298-.77-3.697.821-5.615-.021.008-.044.014-.065.021-1.623 1.939-1.98 4.394-.736 5.753 1.384 1.513 4.24 1.112 6.357-.893z', 'attributes': ['fill="#005e9d"']},
    {'coordinates': 'M19.4 19.54c3.021-2.86 3.875-6.953 1.9-9.111a3.905 3.905 0 0 0-1.75-1.091 3.47 3.47 0 0 1 1.399.942c1.84 2.058.948 6.052-1.985 8.89-2.932 2.84-6.824 3.477-8.664 1.419-1.355-1.516-1.228-4.08.104-6.462l-.081.002c-1.368 2.433-1.456 5.09.005 6.686 1.976 2.159 6.05 1.586 9.072-1.274z', 'attributes': ['fill="#00868a"']},
    {'coordinates': 'M20.097 20.602c3.975-3.763 5.098-9.149 2.5-11.988a5.134 5.134 0 0 0-2.303-1.435 4.565 4.565 0 0 1 1.841 1.24c2.42 2.707 1.247 7.961-2.611 11.696-3.858 3.735-8.979 4.573-11.4 1.866-1.7-1.902-1.626-5.063-.093-8.07l-.096-.02c-1.586 3.085-1.614 6.375.227 8.388 2.599 2.84 7.96 2.087 11.935-1.677z', 'attributes': ['fill="#5d9e45"']},
    {'coordinates': 'M19.484 19.894c4.604-4.358 5.904-10.595 2.894-13.884-.725-.793-1.636-1.343-2.666-1.662.82.303 1.545.78 2.132 1.436 2.803 3.135 1.445 9.22-3.024 13.545-4.468 4.325-10.398 5.297-13.201 2.161-1.834-2.05-1.886-5.362-.454-8.619l-.1-.054c-1.498 3.364-1.397 6.839.598 9.018 3.009 3.29 9.218 2.417 13.821-1.941z', 'attributes': ['fill="#ffcb03"']},
    {'coordinates': 'M18.072 18.338c4.907-4.645 6.293-11.294 3.085-14.8-.773-.844-1.745-1.43-2.842-1.77.874.323 1.646.83 2.273 1.53 2.987 3.342 1.54 9.828-3.224 14.439-4.762 4.61-11.084 5.645-14.072 2.303-1.902-2.128-2.006-5.53-.6-8.911v-.002l-.096-.088c-1.484 3.51-1.335 7.098.743 9.369 3.208 3.506 9.826 2.576 14.733-2.07z', 'attributes': ['fill="#f5821f"']},
    {'coordinates': 'M15.443 15.546c4.603-4.358 5.904-10.595 2.894-13.884C17.612.869 16.701.319 15.671 0c.82.303 1.545.78 2.132 1.436 2.803 3.135 1.445 9.22-3.024 13.545-4.468 4.326-10.398 5.296-13.201 2.161C-.161 15.198-.298 12.12.914 9.03l-.077-.12c-1.298 3.225-1.123 6.493.784 8.577 3.01 3.29 9.219 2.417 13.822-1.941z', 'attributes': ['fill="#ed1c24"']},
], 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}