{% set svg = {'viewBox': ['0','0','512','512'] , 'title': title|default(false), 'path' : 'M512.001 256c0 141.417-114.625 256.001-256 256.001C114.625 512.001 0 397.417 0 256.001 0 114.667 114.625 0 256 0c141.376 0 256.001 114.667 256.001 256zm-256 51.613c-26.225 0-47.484 21.26-47.484 47.484 0 26.225 21.259 47.484 47.484 47.484 26.224 0 47.483-21.259 47.483-47.484 0-26.224-21.259-47.484-47.483-47.484zm-45.082-170.68l7.657 140.388c.358 6.57 5.79 11.712 12.368 11.712h50.113c6.578 0 12.01-5.143 12.368-11.712l7.657-140.388c.387-7.095-5.262-13.062-12.368-13.062h-65.428c-7.106 0-12.754 5.967-12.367 13.062z', 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}