
{% set svg = {'viewBox': ['0', '0', '32', '20 '], 'title': title|default(false), 'path' : [{'coordinates': 'M0 17.12h32V20H0z', 'attributes': ['fill="#f7b600"']}, {'coordinates': 'M0 0h32v2.88H0zm12.81 6.05L9.5 14H7.34L5.72 7.64A.87.87 0 0 0 5.24 7a8.17 8.17 0 0 0-2-.67V6.1h3.5a1 1 0 0 1 .94.81l.85 4.57 2.12-5.39zm8.46 5.32c0-2.09-2.87-2.21-2.85-3.13 0-.29.27-.58.87-.67a3.87 3.87 0 0 1 2 .35l.35-1.67a5.3 5.3 0 0 0-1.91-.35c-2 0-3.43 1.09-3.45 2.61 0 1.15 1 1.77 1.79 2.15s1.06.65 1.06 1c0 .52-.64.77-1.23.77a4.17 4.17 0 0 1-2.1-.5l-.37 1.73a5.77 5.77 0 0 0 2.27.42c2.14 0 3.53-1 3.56-2.69M26.59 14h1.89l-1.64-7.95H25.1a.93.93 0 0 0-.87.58L21.15 14h2.14l.42-1.19h2.62zm-2.29-2.8l1.08-3 .62 3zm-8.58-5.15L14 14h-2l1.68-7.91z', 'attributes': ['fill="#1a1f71"']}], 'width': width|default(false), 'height': height|default(false), 'class': class|default(false) } %}

{% include 'assets/svg/_base.svg.twig' %}