<script>

    import vueSelect from 'vue-select';

    export default {
        name: "CheckoutSelect",
        extends: vueSelect,
    }
</script>

<style>
    .v-select .dropdown-toggle {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: flex;
        background-color: #fff;
        white-space: normal;
        color: #333;
        padding: .55rem .75rem;
        border-width: 1px;
        border-radius: .25rem;
        line-height: 1.25;
        font-size: .875rem;
        -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
                box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
    }

    .v-select .selected-tag {
        padding: 0;
        margin: 0;
    }

    .v-select .vs__selected-options {
        padding: 0;
    }
</style>
