<template>

    <div class="flex flex-col mx-auto w-full bg-brand items-center lg:items-start color-text-primary-contrast font-semibold text-base md:pb-10 lg:pb-0">

        <div class="flex flex-col w-full lg:flex-col-reverse">

            <div class="lg:border-b lg:border-brand-contrast">

                <div class="footer lg:mt-4 lg:px-7">

                    <dl class="flex flex-col lg:flex-row js-badger-accordion w-full lg:mr-8">
                        <div class="lg:flex-basis-1/4">
                            <dt class="flex flex-col border-b border-brand-contrast lg:border-none">
                                <button class="lg:text-left js-badger-accordion-header lg:cursor-default p-4 color-text-primary-contrast lg:color-brand-lightest font-semibold focus:outline-none">
                                    Kontakt
                                </button>
                            </dt>
                            <dd class="badger-accordion__panel js-badger-accordion-panel">
                                <div class="js-badger-accordion-panel-inner flex flex-col text-center lg:text-left text-sm p-4 bg-brand-contrast lg:bg-brand font-normal leading-tight lg:px-4 lg:pb-4 lg:pt-2">
                                    <span class="pb-5">Sie haben Fragen? Hier finden Sie Antworten auf <a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">häufig gestellte Fragen</a></span>
                                    <span class="pb-5">Fragen per E-Mail: <a class="lg:flex color-brand-lightest no-underline hover:color-brand-accent"
                                                                             href="mailto:support@printplanet.de">support@printplanet.de</a></span>
                                    <span class="pb-3">Kostenlose Hotline: <b class="lg:flex lg:color-brand-lightest lg:font-medium">0800 / 9557766</b></span>
                                </div>
                            </dd>
                        </div>
                        <div class="lg:flex-basis-1/4">
                            <dt class="flex flex-col border-b border-brand-contrast lg:border-none">
                                <button class="lg:text-left js-badger-accordion-header lg:cursor-default p-4 color-text-primary-contrast lg:color-brand-lightest font-semibold focus:outline-none">
                                    Ihre Vorteile bei uns
                                </button>
                            </dt>
                            <dd class="badger-accordion__panel js-badger-accordion-panel">
                                <div class="js-badger-accordion-panel-inner flex flex-col text-center lg:text-left text-sm p-4 bg-brand-contrast lg:bg-brand font-normal leading-tight lg:px-4 lg:pb-4 lg:pt-2">

                                    <ul class="list-reset lg:list-disc pb-6">
                                        <li class="pb-3 lg:pb-6">Sichere Zahlung mit SSL-Verschlüsselung</li>
                                        <li class="pb-3 lg:pb-1">Kostenlose Beratung</li>
                                        <li class="pb-3 lg:pb-1"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">30 Tage Geld-Zurück-Garantie für Privatabnehmer</a></li>
                                        <li class="pb-3 lg:pb-1">Versandfertig in 24 Std.</li>
                                        <li>Fotorealistische Produktvorschau</li>
                                    </ul>

                                    <span class="pb-3"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Weitere Informationen</a></span>
                                </div>
                            </dd>
                        </div>
                        <div class="lg:flex-basis-1/4">
                            <dt class="flex flex-col border-b border-brand-contrast lg:border-none ">
                                <button class="lg:text-left js-badger-accordion-header lg:cursor-default p-4 color-text-primary-contrast lg:color-brand-lightest font-semibold focus:outline-none">
                                    Lieferung/Versand
                                </button>
                            </dt>
                            <dd class="badger-accordion__panel js-badger-accordion-panel">
                                <div class="js-badger-accordion-panel-inner flex flex-col text-center lg:text-left text-sm p-4 bg-brand-contrast lg:bg-brand font-normal leading-tight lg:px-4 lg:pb-4 lg:pt-2">
                                    <span class="pb-6">Die meisten unserer Produkte sind innerhalb von 24 Std. versandbereit</span>
                                    <span class="pb-3"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Weitere Informationen</a></span>
                                </div>
                            </dd>
                        </div>
                        <div class="lg:flex-basis-1/4">
                            <dt class="flex flex-col border-b border-brand-contrast lg:border-none ">
                                <button class="lg:text-left js-badger-accordion-header lg:cursor-default p-4 color-text-primary-contrast lg:color-brand-lightest font-semibold focus:outline-none">
                                    Zahlungsmethoden
                                </button>
                            </dt>
                            <dd class="badger-accordion__panel js-badger-accordion-panel">
                                <div class="js-badger-accordion-panel-inner flex flex-col text-center lg:text-left text-sm p-4 bg-brand-contrast lg:bg-brand font-normal leading-tight lg:px-4 lg:pb-4 lg:pt-2">
                                    <span class="pb-3 lg:pb-6">Wir akzeptieren folgende Zahlungsmethoden:</span>
                                    <ul class="list-reset lg:list-disc pb-6">
                                        <li class="pb-1">PayPal</li>
                                        <li class="pb-1">Rechnung</li>
                                        <li class="pb-1">Kreditkarte</li>
                                        <li class="pb-1">Vorkasse</li>
                                        <li class="pb-1">Nachnahme (+3,50 €)</li>
                                        <li class="pb-1">Amazon Pay</li>
                                        <li>Lastschrift</li>
                                    </ul>

                                    <span class="pb-3"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Weitere Informationen</a></span>

                                </div>
                            </dd>
                        </div>
                    </dl>

                </div>

            </div>

            <div class="lg:border-b lg:border-brand-contrast">

                <div class="pp-container flex p-5 w-full justify-center lg:justify-between">

                    <div class="hidden lg:flex">
                        <a class="flex block items-center leading-normal" href="https://www.printplanet.de" id="pp-logo-wrap">
                            <svg style="width: 145px" viewBox="0 0 1895 571" xmlns="http://www.w3.org/2000/svg"
                                 fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                                <path d="M486.888 257.49h-11.041l-4.48 23.854a46.804 46.804 0 0 0-6.458-.417c-22.708 0-32.812 18.438-32.812 37.708 0 11.042 4.166 16.059 11.77 16.059 11.667 0 19.167-12.413 23.126-20.225l.208.104c-2.813 8.542-4.688 14.687-5.417 18.958h10.73c.52-2.708 2.916-16.041 3.437-18.646l10.937-57.395zm-17.187 33.02l-.73 3.75c-2.29 11.771-12.187 30.834-20.937 30.834-2.916 0-4.687-2.5-4.687-8.438 0-11.979 5.833-27.083 19.687-27.083 2.604 0 4.792.417 6.667.937zm43.75-23.854c.104-3.541-2.708-6.562-6.563-6.562-3.958 0-7.5 3.125-7.604 7.291-.104 3.542 2.709 6.667 6.667 6.667 3.854 0 7.396-3.125 7.5-7.396zm-4.375 15.104h-10.938l-9.895 51.771h10.937l9.896-51.77zm51.042 11.146c0-6.146-4.063-12.187-15.938-12.187-16.667 0-28.75 15.937-28.75 36.666 0 11.667 5.417 17.205 17.917 17.205 6.77 0 13.125-1.267 18.437-3.246v-8.75c-4.583 1.875-9.895 3.02-14.791 3.02-7.813 0-10.417-1.874-10.417-8.958 0-1.562.208-3.854.417-5.208 21.354-.73 33.125-6.875 33.125-18.542zm-10.938 1.459c0 5.937-6.666 8.854-20.833 9.375 2.083-7.917 7.083-14.688 14.583-14.688 3.854 0 6.25 1.875 6.25 5.313zm63.23-31.146h-11.146L587.93 333.53h11.146l13.333-70.312zm51.874 34.896c1.98-10.521-1.145-17.5-10.937-17.5-10.417 0-18.125 9.479-23.02 19.687l-.21-.104c3.334-9.688 4.688-15.208 5.313-18.438h-10.833c-.52 3.334-3.854 21.25-4.48 24.688l-5.208 27.083h10.938l2.292-12.291c2.291-12.5 12.5-31.042 20.833-31.042 4.062 0 5.312 3.125 3.958 10.52l-6.354 32.813h10.938l6.77-35.416zm44.48-16.355H695.43l3.646-18.854-11.354 2.396-3.125 16.458h-9.688l-1.775 8.646h9.796l-5.104 26.875c-2.396 12.084.625 17.204 11.454 17.204 3.025 0 6.875-.416 10.104-1.162l.838-9.063c-1.98.417-4.067.73-6.875.73-4.688 0-5.625-1.98-4.375-9.167l4.792-25.417h13.225l1.775-8.646zm46.87 11.146c0-6.146-4.062-12.187-15.937-12.187-16.667 0-28.746 15.937-28.746 36.666 0 11.667 5.417 17.205 17.913 17.205 6.775 0 13.129-1.267 18.437-3.246v-8.75c-4.579 1.875-9.892 3.02-14.787 3.02-7.817 0-10.417-1.874-10.417-8.958 0-1.562.208-3.854.412-5.208 21.355-.73 33.126-6.875 33.126-18.542zm-10.933 1.459c0 5.937-6.67 8.854-20.833 9.375 2.083-7.917 7.083-14.688 14.583-14.688 3.85 0 6.25 1.875 6.25 5.313zm52.709-13.646c-9.484-1.563-15.421 6.77-21.15 18.646l-.209-.105c2.813-8.125 4.171-13.229 4.896-17.5h-10.625c-.52 3.334-3.854 21.25-4.48 24.688l-5.207 27.083h10.941l2.188-11.458c2.912-15.833 12.704-33.125 21.35-30.625l2.296-10.73zm51.141 17.396c1.98-10.521-1.146-17.5-10.937-17.5-10.417 0-18.125 9.479-23.021 19.687l-.204-.104c3.333-9.688 4.683-15.208 5.308-18.438h-10.833c-.521 3.334-3.854 21.25-4.48 24.688l-5.208 27.083h10.942l2.292-12.291c2.287-12.5 12.495-31.042 20.833-31.042 4.058 0 5.312 3.125 3.954 10.52l-6.354 32.813h10.942l6.766-35.416zm51.98-5.209c0-6.146-4.063-12.187-15.938-12.187-16.667 0-28.75 15.937-28.75 36.666 0 11.667 5.417 17.205 17.917 17.205 6.77 0 13.129-1.267 18.437-3.246v-8.75c-4.583 1.875-9.896 3.02-14.792 3.02-7.812 0-10.412-1.874-10.412-8.958 0-1.562.204-3.854.412-5.208 21.355-.73 33.125-6.875 33.125-18.542zm-10.938 1.459c0 5.937-6.667 8.854-20.833 9.375 2.083-7.917 7.083-14.688 14.583-14.688 3.854 0 6.25 1.875 6.25 5.313zm52.187-12.605h-13.333l3.646-18.854-11.354 2.396-3.125 16.458h-9.688l-1.77 8.646h9.791l-5.104 26.875c-2.396 12.084.625 17.204 11.458 17.204 3.021 0 6.875-.416 10.104-1.162l.834-9.063c-1.98.417-4.063.73-6.875.73-4.688 0-5.625-1.98-4.375-9.167l4.791-25.417h13.23l1.77-8.646zm56.771-24.27H987.51l-4.48 23.854a46.804 46.804 0 0 0-6.458-.417c-22.708 0-32.812 18.438-32.812 37.708 0 11.042 4.166 16.059 11.77 16.059 11.667 0 19.167-12.413 23.126-20.225l.208.104c-2.813 8.542-4.688 14.687-5.417 18.958h10.73c.52-2.708 2.916-16.041 3.437-18.646l10.937-57.395zm-17.187 33.02l-.73 3.75c-2.291 11.771-12.187 30.834-20.937 30.834-2.916 0-4.687-2.5-4.687-8.438 0-11.979 5.833-27.083 19.687-27.083 2.604 0 4.792.417 6.667.937zm55.312-9.791c-9.479-1.563-15.416 6.77-21.145 18.646l-.209-.105c2.813-8.125 4.167-13.229 4.896-17.5h-10.625c-.52 3.334-3.854 21.25-4.48 24.688l-5.207 27.083h10.937l2.188-11.458c2.916-15.833 12.708-33.125 21.354-30.625l2.291-10.73zm52.188 1.041h-10.938l-2.291 12.292c-2.396 12.5-12.5 31.042-20.834 31.042-4.062 0-5.312-3.125-3.958-10.521l6.25-32.813h-10.833l-6.771 35.417c-1.98 10.52 1.146 17.517 10.937 17.517 10.417 0 18.125-9.496 22.917-19.704l.208.104c-3.229 9.687-4.583 15.208-5.208 18.437h10.73c.52-3.333 3.853-21.25 4.583-24.687l5.208-27.084zm46.875.521c-3.333-.937-6.667-1.458-10.73-1.458-18.645 0-30 16.354-30 36.146 0 10.312 4.897 17.516 18.542 17.516 4.896 0 9.48-1.058 13.125-2.308l.834-9.792c-3.125 1.459-7.084 2.292-10.834 2.292-8.125 0-10-4.896-10-10.208 0-10.834 5.521-24.375 17.605-24.375 3.437 0 6.354.729 8.854 1.875l2.604-9.688zm50 2.709l-8.333-6.042-23.438 24.48 8.75-45.938h-10.937l-14.48 76.041h10.938l5.104-26.77 12.5 26.77h13.23l-14.792-28.125 21.458-20.416zm45.208 7.916c0-6.146-4.062-12.187-15.937-12.187-16.667 0-28.75 15.937-28.75 36.666 0 11.667 5.417 17.205 17.917 17.205 6.77 0 13.125-1.267 18.437-3.246v-8.75c-4.583 1.875-9.896 3.02-14.792 3.02-7.812 0-10.416-1.874-10.416-8.958 0-1.562.208-3.854.416-5.208 21.355-.73 33.125-6.875 33.125-18.542zm-10.937 1.459c0 5.937-6.667 8.854-20.833 9.375 2.083-7.917 7.083-14.688 14.583-14.688 3.854 0 6.25 1.875 6.25 5.313zm52.708-13.646c-9.479-1.563-15.416 6.77-21.146 18.646l-.208-.105c2.813-8.125 4.167-13.229 4.896-17.5h-10.625c-.52 3.334-3.854 21.25-4.48 24.688l-5.208 27.083h10.938l2.187-11.458c2.917-15.833 12.709-33.125 21.355-30.625l2.291-10.73zm44.271 12.187c0-6.146-4.062-12.187-15.937-12.187-16.667 0-28.75 15.937-28.75 36.666 0 11.667 5.416 17.205 17.916 17.205 6.771 0 13.125-1.267 18.438-3.246v-8.75c-4.584 1.875-9.896 3.02-14.792 3.02-7.812 0-10.417-1.874-10.417-8.958 0-1.562.209-3.854.417-5.208 21.354-.73 33.125-6.875 33.125-18.542zm-10.937 1.459c0 5.937-6.667 8.854-20.834 9.375 2.084-7.917 7.084-14.688 14.584-14.688 3.854 0 6.25 1.875 6.25 5.313zm41.145-27.709c.105-3.541-2.708-6.562-6.562-6.562-3.958 0-7.5 3.125-7.604 7.291-.104 3.542 2.708 6.667 6.666 6.667 3.855 0 7.396-3.125 7.5-7.396zm-4.375 15.104h-10.937l-9.896 51.771h10.938l9.895-51.77M156.3 66.903c0-33.6-24-51.6-63.3-51.6-20.399 0-38.099.3-54.6 1.2L0 219.003h38.101l13.5-71.4c4.8.3 9.9.6 13.5.6 50.7 0 91.2-35.7 91.2-81.3zm-39.9 5.1c0 24-21.299 43.5-47.399 43.5-3.9 0-7.5 0-10.8-.9l12.6-67.2c4.5-.3 8.7-.3 15.6-.3 21.9 0 30 10.2 30 24.9zm149.1-5.1c-25.8-4.2-42 16.5-57.9 48h-.6c7.2-20.4 10.8-33.6 12.9-45h-36.3c-2.1 13.5-10.2 57.3-12.9 71.1l-15 78h37.5l6.3-32.4c9.3-50.4 36-89.7 57.9-82.8l8.1-36.9zm74.7-41.1c.3-11.4-9.3-21.6-22.2-21.6-13.2 0-25.2 10.5-25.5 24.3-.3 11.7 9 22.2 22.2 22.2s25.2-10.5 25.5-24.9zm-13.2 44.1h-37.5l-28.5 149.1h37.5l28.5-149.1zm159.301 46.2c5.4-29.1-3.3-49.5-32.1-49.5-28.5 0-49.2 23.1-62.7 49.8l-.6-.3c8.1-23.4 11.7-37.2 13.5-46.2h-36.9c-2.1 13.5-10.2 57.3-12.9 71.1l-15 78h37.5l7.2-37.8c6.6-34.8 33.6-81.6 53.7-81.6 9.6 0 12.6 7.5 9 25.8l-18 93.6h37.8l19.5-102.9zm127.5-46.2h-35.4l10.2-53.4-39 7.75-8.7 45.65h-25.2l-6 29.7h25.5l-13.5 71.4c-6.9 35.7 2.1 51.05 34.2 51.05 9.3 0 20.7-1.5 30.6-3.95l3.6-30.6c-5.4 1.2-11.1 2.1-18.6 2.1-12.3 0-14.7-4.8-11.4-22.8l12.6-67.2h35.1l6-29.7zm158.7-3c0-33.6-24-51.6-63.3-51.6-20.4 0-38.1.3-54.6 1.2l-38.4 202.5h38.1l13.5-71.4c4.8.3 9.9.6 13.5.6 50.7 0 91.2-35.7 91.2-81.3zm-39.9 5.1c0 24-21.3 43.5-47.4 43.5-3.9 0-7.5 0-10.8-.9l12.6-67.2c4.5-.3 8.7-.3 15.6-.3 21.9 0 30 10.2 30 24.9zm118.5-72h-37.5l-41.7 219h37.5l41.7-219zm149.1 71.7c-16.8-3.3-34.8-4.5-52.8-4.5-65.4 0-95.7 52.2-95.7 108.6 0 31.8 12.3 46.55 35.1 46.55 29.7 0 50.4-28.85 62.4-50.75h.6c-6.9 20.7-11.4 35.7-14.1 47.4h37.2c6.3-39.3 14.1-78 27.3-147.3zm-42.6 27.6l-1.8 9.6c-6 31.5-32.7 80.4-54 80.4-7.5 0-11.4-6-11.4-20.7 0-31.2 15.9-71.4 50.4-71.4 6.6 0 12 .9 16.8 2.1zm201.9 16.8c5.4-29.1-3.3-49.5-32.1-49.5-28.5 0-49.2 23.1-62.7 49.8l-.6-.3c8.1-23.4 11.7-37.2 13.5-46.2h-36.9c-2.1 13.5-10.2 57.3-12.9 71.1l-15 78h37.5l7.2-37.8c6.6-34.8 33.6-81.6 53.7-81.6 9.6 0 12.6 7.5 9 25.8l-18 93.6h37.8l19.5-102.9zm155.7-12.9c0-18-11.4-36.3-48.3-36.3-46.5 0-84.3 42.3-84.3 104.7 0 33 15 50.45 52.8 50.45 19.8 0 39.3-3.35 55.8-9.65v-29.4c-13.8 5.7-29.1 9-43.5 9-20.7 0-27.3-5.1-27.3-22.2 0-3.3.6-8.4.9-11.7 58.5-1.8 93.9-19.2 93.9-54.9zm-37.2 5.1c0 15.9-18 23.1-52.5 24.3 5.4-19.5 17.7-37.5 37.2-37.5 9.6 0 15.3 4.8 15.3 13.2zm156-38.4h-35.4l10.2-53.4-39 7.75-8.7 45.65h-25.2l-6 29.7h25.5l-13.5 71.4c-6.9 35.7 2.1 51.05 34.2 51.05 9.3 0 20.7-1.5 30.6-3.95l3.6-30.6c-5.4 1.2-11.1 2.1-18.6 2.1-12.3 0-14.7-4.8-11.4-22.8l12.6-67.2h35.1l6-29.7zm32.517 134.116c0-8.958-7.083-16.67-16.458-16.67-9.167 0-17.292 7.712-17.292 17.504 0 8.958 7.084 16.7 16.25 16.7 9.375 0 17.5-7.742 17.5-17.534zm133.75-137.083h-26.25l-8.958 47.496c-4.375-.621-7.5-.83-11.042-.83-45.416 0-66.458 36.246-66.458 75.417 0 22.084 8.542 32.325 24.375 32.325 20.625 0 35-20.033 43.333-35.241h.417c-4.792 14.375-8.125 24.787-9.583 32.916h25.625c1.25-7.5 5.208-30.208 6.667-37.291l21.875-114.792zm-39.166 68.954l-1.25 6.671c-4.167 21.875-22.709 55.833-37.5 55.833-5.209 0-7.917-4.166-7.917-14.375 0-21.666 11.042-49.583 35-49.583 4.583 0 8.333.625 11.667 1.454zm131.875 2.708c0-12.495-7.917-25.208-33.542-25.208-32.291 0-58.541 29.38-58.541 72.713 0 22.916 10.416 35.033 36.666 35.033 13.75 0 27.292-2.325 38.75-6.7v-20.417c-9.583 3.959-20.208 6.25-30.208 6.25-14.375 0-18.958-3.541-18.958-15.416 0-2.292.416-5.834.625-8.125 40.625-1.25 65.208-13.334 65.208-38.13zm-25.833 3.546c0 11.042-12.5 16.042-36.459 16.875 3.75-13.546 12.292-26.041 25.834-26.041 6.666 0 10.625 3.333 10.625 9.166"
                                      fill="#fff"></path>
                                <path d="M1771.973 453.968c46.458-43.237 59.579-105.12 29.208-137.75-7.316-7.862-16.516-13.32-26.908-16.483 8.275 3.008 15.592 7.725 21.517 14.246 28.287 31.104 14.579 91.47-30.513 134.387-45.096 42.913-104.942 52.542-133.233 21.438-25.48-28.017-16.884-79.767 18.025-121.125-.475.158-.959.3-1.438.454-35.6 41.817-43.446 94.767-16.146 124.096 30.371 32.633 93.03 23.975 139.488-19.263"
                                      fill="#005e9d"></path>
                                <path d="M1793.656 474.693c66.3-61.7 85.021-150.004 41.684-196.57-10.446-11.226-23.571-19.009-38.4-23.526 11.804 4.296 22.245 11.03 30.704 20.33 40.37 44.391 20.808 130.537-43.546 191.779-64.346 61.233-149.759 74.983-190.125 30.592-29.73-32.688-26.95-88.025 2.283-139.388-.592.02-1.187.03-1.783.042-30.017 52.47-31.942 109.779.125 144.233 43.341 46.563 132.762 34.213 199.058-27.492"
                                      fill="#00868a"></path>
                                <path d="M1808.956 497.59c87.225-81.18 111.863-197.359 54.842-258.621-13.746-14.767-31.013-25.013-50.521-30.95 15.53 5.65 29.27 14.512 40.396 26.75 53.112 58.4 27.375 171.741-57.292 252.308-84.658 80.567-197.025 98.646-250.138 40.25-37.32-41.037-35.704-109.204-2.062-174.067-.7-.146-1.4-.304-2.096-.454-34.808 66.563-35.417 137.538 4.988 180.946 57.02 61.267 174.662 45.017 261.883-36.162"
                                      fill="#5f9e45"></path>
                                <path d="M1795.502 482.306c101.017-94.013 129.546-228.559 63.513-299.509-15.913-17.1-35.917-28.966-58.513-35.841 17.988 6.541 33.904 16.804 46.792 30.975 61.504 67.637 31.7 198.896-66.35 292.2-98.046 93.304-228.18 114.25-289.688 46.617-40.23-44.234-41.392-115.684-9.95-185.938-.733-.38-1.463-.775-2.196-1.158-32.87 72.57-30.658 147.52 13.104 194.542 66.038 70.945 202.28 52.129 303.288-41.888"
                                      fill="#ffcb03"></path>
                                <path d="M1764.514 448.748c107.676-100.209 138.092-243.63 67.7-319.255-16.966-18.22-38.283-30.879-62.37-38.204 19.175 6.975 36.133 17.917 49.875 33.017 65.558 72.092 33.791 212.008-70.73 311.467-104.504 99.462-243.22 121.78-308.783 49.692-41.746-45.9-44.017-119.296-13.188-192.242 0-.009 0-.021.005-.03-.7-.633-1.396-1.262-2.088-1.895-32.583 75.696-29.292 153.117 16.292 202.096 70.396 75.633 215.617 55.57 323.287-44.646"
                                      fill="#f5821f"></path>
                                <path d="M1706.831 388.51c101.017-94.012 129.542-228.558 63.508-299.508-15.916-17.096-35.912-28.967-58.508-35.842 17.988 6.542 33.9 16.804 46.788 30.975 61.508 67.634 31.7 198.896-66.35 292.2-98.046 93.305-228.18 114.25-289.684 46.617-38.15-41.941-41.158-108.35-14.57-175.004-.567-.854-1.134-1.708-1.684-2.567-28.492 69.546-24.642 140.05 17.212 185.013 66.034 70.954 202.28 52.133 303.288-41.883"
                                      fill="#ed1c24"></path>
                                <path d="M1445.598 45.94c8.604 0 15.666-7 15.666-15.667 0-8.6-7.062-15.667-15.666-15.667-8.596 0-15.663 7.067-15.663 15.667 0 8.667 7.067 15.667 15.663 15.667zm-13.33-15.667c0-7.334 6-13.334 13.33-13.334 7.333 0 13.333 6 13.333 13.334 0 7.333-6 13.333-13.333 13.333-7.33 0-13.33-6-13.33-13.333zm7.4 7.867h2.996v-6.667h3.534l2.604 6.667h3.333l-3.067-7.134c1.067-.533 2.867-1.133 2.867-4.067 0-4.8-3.6-5.333-6.733-5.333h-5.534V38.14zm2.996-13.667h3.334c1.8 0 2.804.733 2.804 2.2 0 1.466-1.138 2.133-2.538 2.133h-3.6v-4.333"
                                      fill="#fff"></path>
                            </svg>
                        </a>
                    </div>

                    <div class="flex items-center">

                        <a href="https://www.facebook.com/PrintPlanet" class="flex">

                            <svg class="fill-current color-text-primary-contrast hover:color-brand-lightest" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 width="32" height="32" viewBox="0 0 32 32">
                                <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z"></path>
                            </svg>

                        </a>

                        <a href="https://www.instagram.com/printplanet.de/" class="flex">

                            <svg class="fill-current color-text-primary-contrast hover:color-brand-lightest mx-4" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 width="32" height="32" viewBox="0 0 32 32">
                                <path d="M16.009 2.882c4.276 0 4.782 0.019 6.464 0.094 1.563 0.069 2.407 0.331 2.969 0.55 0.744 0.288 1.282 0.638 1.838 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.413 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.464s-0.019 4.782-0.094 6.464c-0.069 1.563-0.331 2.407-0.55 2.969-0.288 0.744-0.638 1.282-1.194 1.838-0.563 0.563-1.094 0.906-1.838 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.464 0.094s-4.782-0.019-6.464-0.094c-1.563-0.069-2.407-0.331-2.969-0.55-0.744-0.288-1.282-0.638-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.838-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.464s0.019-4.782 0.094-6.464c0.069-1.563 0.331-2.407 0.55-2.969 0.288-0.744 0.638-1.282 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.413-0.481 2.969-0.55 1.682-0.075 2.188-0.094 6.464-0.094zM16.009 0c-4.345 0-4.888 0.019-6.595 0.094-1.7 0.075-2.869 0.35-3.882 0.744-1.056 0.413-1.95 0.956-2.838 1.85-0.894 0.888-1.438 1.782-1.85 2.832-0.394 1.019-0.669 2.182-0.744 3.882-0.075 1.713-0.094 2.257-0.094 6.601s0.019 4.888 0.094 6.595c0.075 1.7 0.35 2.869 0.744 3.882 0.413 1.056 0.956 1.95 1.85 2.838 0.888 0.888 1.782 1.438 2.832 1.844 1.019 0.394 2.182 0.669 3.882 0.744 1.707 0.075 2.25 0.094 6.595 0.094s4.888-0.019 6.595-0.094c1.7-0.075 2.869-0.35 3.882-0.744 1.050-0.406 1.944-0.956 2.832-1.844s1.438-1.782 1.844-2.832c0.394-1.019 0.669-2.182 0.744-3.882 0.075-1.707 0.094-2.25 0.094-6.595s-0.019-4.888-0.094-6.595c-0.075-1.7-0.35-2.869-0.744-3.882-0.394-1.063-0.938-1.957-1.832-2.844-0.888-0.888-1.782-1.438-2.832-1.844-1.019-0.394-2.182-0.669-3.882-0.744-1.713-0.081-2.257-0.1-6.601-0.1v0z"></path>
                                <path d="M16.009 7.783c-4.538 0-8.22 3.682-8.22 8.22s3.682 8.22 8.22 8.22 8.22-3.682 8.22-8.22c0-4.538-3.682-8.22-8.22-8.22zM16.009 21.335c-2.944 0-5.332-2.388-5.332-5.332s2.388-5.332 5.332-5.332c2.944 0 5.332 2.388 5.332 5.332s-2.388 5.332-5.332 5.332z"></path>
                                <path d="M26.474 7.458c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z"></path>
                            </svg>

                        </a>

                        <a href="https://plus.google.com/u/0/108578846267481840098/posts" class="flex">

                            <svg class="fill-current color-text-primary-contrast hover:color-brand-lightest" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 width="32" height="32" viewBox="0 0 32 32">
                                <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 24c-4.425 0-8-3.575-8-8s3.575-8 8-8c2.162 0 3.969 0.787 5.363 2.094l-2.175 2.088c-0.594-0.569-1.631-1.231-3.188-1.231-2.731 0-4.963 2.263-4.963 5.050s2.231 5.050 4.963 5.050c3.169 0 4.356-2.275 4.538-3.45h-4.537v-2.744h7.556c0.069 0.4 0.125 0.8 0.125 1.325 0 4.575-3.063 7.819-7.681 7.819zM28 16h-2v2h-2v-2h-2v-2h2v-2h2v2h2v2z"></path>
                            </svg>

                        </a>

                    </div>

                </div>

            </div>

        </div>

        <div class="pp-container flex p-4 color-brand-accent text-xs text-center font-normal w-full lg:my-6">

            <ul class="footer-nav inline m-0 p-0 w-full">

                <li class="inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Wir über uns</a></li>

                <li class="inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Newsletter</a></li>

                <li class="hidden lg:inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Wissenswertes</a></li>

                <li class="inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Pressemitteilungen</a></li>

                <li class="inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Partnerprogramm</a></li>

                <li class="hidden lg:inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Jobs</a></li>

                <li class="inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">AGB</a></li>

                <li class="inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Datenschutz</a></li>

                <li class="inline"><a class="color-brand-lightest no-underline hover:color-brand-accent" href="#">Impressum</a></li>

            </ul>

        </div>

    </div>

</template>
<script>
    export default {

    }
</script>