@import 'components/brandColors_pf';
@import 'components/customProperties';

@import 'components/pretty-checkbox';
@import 'components/pikaday';
@import 'components/vue-select';
@import 'components/svg-uri';
@import '../../node_modules/sweetalert2/src/sweetalert2';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

html {
  line-height: 1.15;
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

@import "components/simpleButtons";

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.pp-container {
  @apply mx-auto;
  @apply px-7;
  max-width: calc(1200px + 2.25rem + 1.5rem)
}

.footer {
  @apply mx-auto;
  max-width: calc(1200px + 2.25rem + 1.5rem)
}

@screen xl {
  .pp-container {
    @apply mx-auto;
    @apply px-11;
    max-width:calc(1400px + 4rem + 1.5rem)
  }

  .footer {
    @apply mx-auto;
    max-width:calc(1400px + 4rem + 1.5rem)
  }

}

@screen lg {
  .pp-container {
    @apply mx-auto;
    @apply px-11;
    max-width: calc(1200px + 4rem + 1.5rem)
  }

  .footer {
    @apply mx-auto;
    max-width: calc(1200px + 4rem + 1.5rem)
  }

}

@screen md {
  .pp-container {
    @apply mx-auto;
    @apply px-11;
    max-width: calc(1200px + 4rem + 1.5rem)
  }

  .footer {
    @apply mx-auto;
    max-width: calc(1200px + 4rem + 1.5rem)
  }

}

.row {
  @apply flex;
  @apply flex-wrap;
  @apply -mx-3;
}

//.checkout-wrap .login-wrapper {
//  @apply max-w-full;
//}

.checkout-wrap .checkout-progress .step-bar {
  width: calc((100% - 9rem) / 2 - 2.25rem);
  flex-shrink: 50;
}

.checkout-wrap .checkout-progress .step:before {
  @apply absolute;
  @apply w-full;
  @apply h-full;
  @apply border-main-darkest;
  @apply border;
  @apply rounded-full;
  @apply font-semibold;
  @apply text-center;
  @apply text-3xl;
  //line-height: 2.7rem;
  //line-height: 3rem;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0;
  //@apply text-main-darkest;
  @apply color-main-darkest;
}

.checkout-wrap .checkout-progress.active-step-1 .step-1:before {
  @apply bg-main-darkest;
  color: #fff
}

.checkout-wrap .checkout-progress.active-step-2 .step-1:before,.checkout-wrap .checkout-progress.active-step-2 .step-2:before {
  @apply bg-main-darkest;
  color: #fff
}

.checkout-wrap .checkout-progress.active-step-3 .step-1:before,.checkout-wrap .checkout-progress.active-step-3 .step-2:before,.checkout-wrap .checkout-progress.active-step-3 .step-3:before {
  @apply bg-main-darkest;
  color: #fff
}

.checkout-wrap .checkout-progress .step-1:before {
  content: "1";
}

.checkout-wrap .checkout-progress .step-2:before {
  content: "2";
}

.checkout-wrap .checkout-progress .step-3:before {
  content: "3";
}

.checkout-wrap label.required:before {
  content: "*";
  //@apply text-brand;
  //@apply color-brand;
  @apply color-danger;
  @apply font-bold;
}

.checkout-wrap label.noasterisk:before {
  content: "";
}

@responsive {

  .flex-basis-1\/2 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .flex-basis-1\/3 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .flex-basis-2\/3 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .flex-basis-1\/4 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .flex-basis-3\/4 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .flex-basis-1\/5 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }

  .flex-basis-2\/5 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }

  .flex-basis-3\/5 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }

  .flex-basis-4\/5 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }

  .flex-basis-1\/6 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;

  }

  .flex-basis-5\/6 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .flex-basis-full {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .list-disc {
    list-style: disc;
    padding-left: 1.1em;
  }

}

.has-error {
  @apply border-danger;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  @apply color-danger;
}
.has-error label.required:after {
  @apply color-danger;
}

.has-error .form-control {
  @apply border-danger;
  -webkit-box-shadow: inset 0 1px 1px var(--color-main-accent);
  box-shadow: inset 0 1px 1px var(--color-main-accent);
}

#login-form label.required:before {
  content: "*";
  @apply color-danger;
  @apply font-bold;
}

.footer-nav {
  li::before {
    content: ' ';
  }
  li::after {
    content: ' ';
    word-spacing: 1em; /* = nav@padding-right - this actually makes width */
    background-image: linear-gradient(var(--color-brand-lightest), var(--color-brand-lightest), var(--color-brand-lightest));
    background-size: 0.12em 1em;
    //opacity: 0.5;
    @apply whitespace-normal;
    @apply bg-no-repeat;
    @apply bg-center;

  }
  //a {
  //  white-space: nowrap; /* here */
  //  display: inline-block; /* to allow padding */
  //  padding: 1em;
  //  text-decoration: none;
  //  color: black;
  //  transition-property: background-color;
  //  transition-duration: 500ms;
  //}
  //a:hover {
  //  background-color: #ccc;
  //}
}

.badger-accordion__panel {
  //max-height: 75vh;
  overflow: hidden; }
.badger-accordion__panel.-ba-is-hidden {
  max-height: 0 !important;
}
.badger-accordion--initalised .badger-accordion__panel {
  transition: max-height ease-in-out 0.2s; }

footer .badger-accordion__panel.-ba-is-hidden {
  max-height: 0 !important;
  @media (min-width: 992px) {
    max-height: 100% !important;
  }
}

.badger-accordion--initalised .badger-accordion__panel {
  transition: max-height ease-in-out 0.2s; }

.badger-accordion-details {
  &:before {
    float: left !important;
    transition: all 0.25s ease-out;
    //content: url("data:image/svg+xml; charset=utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M31 12h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552 0-1 0.448-1 1v11h-11c-0.552 0-1 0.448-1 1v6c0 0.552 0.448 1 1 1h11v11c0 0.552 0.448 1 1 1h6c0.552 0 1-0.448 1-1v-11h11c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1z'></path></svg>");
    content: url("data:image/svg+xml; charset=utf8, %3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2032%2032%27%3E%3Cpath%20fill%3D%27%23" + map_get($colors, 'main-darkest') + "%27%20d%3D%27M31%2012h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552%200-1%200.448-1%201v11h-11c-0.552%200-1%200.448-1%201v6c0%200.552%200.448%201%201%201h11v11c0%200.552%200.448%201%201%201h6c0.552%200%201-0.448%201-1v-11h11c0.552%200%201-0.448%201-1v-6c0-0.552-0.448-1-1-1z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    @apply w-2;
    @apply mr-2;
  }
  &[aria-expanded=true] {
    &:before {
      transform: rotate(360deg);
      //content: url("data:image/svg+xml; charset=utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M0 13v6c0 0.552 0.448 1 1 1h30c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1h-30c-0.552 0-1 0.448-1 1z'></path></svg>");
      content: url("data:image/svg+xml; charset=utf8, %3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2032%2032%27%3E%3Cpath%20fill%3D%27%23{map_get($colors, 'main-darkest')}%27%20d%3D%27M0%2013v6c0%200.552%200.448%201%201%201h30c0.552%200%201-0.448%201-1v-6c0-0.552-0.448-1-1-1h-30c-0.552%200-1%200.448-1%201z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    }
  }
}

input[type="password"] + span[class*="toggle-password"] {
  &:before {
    content: url("data:image/svg+xml; utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M16 6c-6.979 0-13.028 4.064-16 10 2.972 5.936 9.021 10 16 10s13.027-4.064 16-10c-2.972-5.936-9.021-10-16-10zM23.889 11.303c1.88 1.199 3.473 2.805 4.67 4.697-1.197 1.891-2.79 3.498-4.67 4.697-2.362 1.507-5.090 2.303-7.889 2.303s-5.527-0.796-7.889-2.303c-1.88-1.199-3.473-2.805-4.67-4.697 1.197-1.891 2.79-3.498 4.67-4.697 0.122-0.078 0.246-0.154 0.371-0.228-0.311 0.854-0.482 1.776-0.482 2.737 0 4.418 3.582 8 8 8s8-3.582 8-8c0-0.962-0.17-1.883-0.482-2.737 0.124 0.074 0.248 0.15 0.371 0.228v0zM16 13c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z'></path></svg>");
    @apply w-7;
    @apply h-7;
  }
}
input[type="text"] + span[class*="toggle-password"] {
  &:before {
    content: url("data:image/svg+xml; utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M29.561 0.439c-0.586-0.586-1.535-0.586-2.121 0l-6.318 6.318c-1.623-0.492-3.342-0.757-5.122-0.757-6.979 0-13.028 4.064-16 10 1.285 2.566 3.145 4.782 5.407 6.472l-4.968 4.968c-0.586 0.586-0.586 1.535 0 2.121 0.293 0.293 0.677 0.439 1.061 0.439s0.768-0.146 1.061-0.439l27-27c0.586-0.586 0.586-1.536 0-2.121zM13 10c1.32 0 2.44 0.853 2.841 2.037l-3.804 3.804c-1.184-0.401-2.037-1.521-2.037-2.841 0-1.657 1.343-3 3-3zM3.441 16c1.197-1.891 2.79-3.498 4.67-4.697 0.122-0.078 0.246-0.154 0.371-0.228-0.311 0.854-0.482 1.776-0.482 2.737 0 1.715 0.54 3.304 1.459 4.607l-1.904 1.904c-1.639-1.151-3.038-2.621-4.114-4.323z'></path><path fill='#{map_get($colors, 'main-darkest')}' d='M24 13.813c0-0.849-0.133-1.667-0.378-2.434l-10.056 10.056c0.768 0.245 1.586 0.378 2.435 0.378 4.418 0 8-3.582 8-8z'></path><path fill='#{map_get($colors, 'main-darkest')}' d='M25.938 9.062l-2.168 2.168c0.040 0.025 0.079 0.049 0.118 0.074 1.88 1.199 3.473 2.805 4.67 4.697-1.197 1.891-2.79 3.498-4.67 4.697-2.362 1.507-5.090 2.303-7.889 2.303-1.208 0-2.403-0.149-3.561-0.439l-2.403 2.403c1.866 0.671 3.873 1.036 5.964 1.036 6.978 0 13.027-4.064 16-10-1.407-2.81-3.504-5.2-6.062-6.938z'></path></svg>");
    @apply w-7;
    @apply h-7;
  }
}

#back-to-top {
  @apply bg-main-darkest;
  @apply rounded-none;
}
#back-to-top:hover {
  @apply bg-brand-light;
}

button:focus {
  outline: none;
}

.alert {
  transition: opacity 0.6s;
}

.alert > .alertClosebtn {
  transition: 0.3s;
}
/*
no need to unset content of li:last-child, because it will be the trailing whitespace so it will collapse
*/

//.payment-advantage-list {
//
//  counter-reset: item;
//
//  > li:before {
//    content: counter(item);
//    counter-increment: item;
//    @apply pin-l;
//    @apply bg-main-contrast;
//    @apply border-main-darkest;
//    @apply color-main-darkest;
//    @apply absolute;
//    @apply w-5;
//    @apply h-5;
//    @apply border;
//    @apply rounded-full;
//    @apply font-semibold;
//    @apply text-center;
//    @apply text-sm;
//    @apply p-px;
//    margin-top: -2px;
//  }
//}

@import 'components/colors';

select::-ms-expand {
  display: none;
}

.swal2-popup {

  .swal2-content {
    justify-content: flex-start;
    font-size: 100%;
    font-weight: normal;
  }
}

.swal2-auto-width {
  min-width: $swal2-width;
  max-width: 43em;
  width: auto;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
