@import 'components/brandColors_pp';
@import 'components/customProperties';

@import 'components/svg-uri';
@import "components/photoswipe-ui";

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//html {
//  line-height: 1.15;
//}

button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
@import "components/simpleButtons";


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 @import "tailwindcss/utilities";
 *
 */
@tailwind utilities;

//@import "../../node_modules/tiny-slider/src/tiny-slider";
@import "components/header";

@import 'components/footer';

@import "components/page-sizes";

@import "components/flex-sizes";

.badger-accordion--initalised .badger-accordion__panel {
  transition: max-height ease-in-out 0.2s; }

#back-to-top {
  @apply bg-main-darkest
  rounded-none
  ;
}

@media (pointer: fine) {
  #back-to-top {
    &:hover {
      @apply bg-brand-light;
    }
  }
}

@media (pointer: coarse) {
  #back-to-top {
    @apply overflow-hidden;
    transform: translate3d(0, 0, 0);

    &::after {
      @apply  block
      absolute
      w-full
      h-full
      top-0
      left-0
      pointer-events-none
      opacity-0
      ;
      content: "";
      background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      transition: transform .5s, opacity 1s;
    }

    &:active::after {
      @apply opacity-25;
      transform: scale(0, 0);
      transition: 0s;
    }
  }

  .ripple {
    @apply overflow-hidden;
    transform: translate3d(0, 0, 0);

    &::after {
      @apply  block
      absolute
      w-full
      h-full
      top-0
      left-0
      pointer-events-none
      opacity-0
      ;
      content: "";
      background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      transition: transform .5s, opacity 1s;
    }

    &:active::after {
      @apply opacity-25;
      transform: scale(0, 0);
      transition: 0s;
    }
  }
}

button:focus {
  outline: none;
}

.alert {
  transition: opacity 0.6s;
}

.alert > .alertClosebtn > svg {
  transition: 0.3s;
}

@import 'components/colors';

select::-ms-expand {
  display: none;
}

@import "components/swal2";

@import "components/presentation";
