.badger-accordion-details {
  &:before {
    float: left !important;
    transition: all 0.25s ease-out;
    content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M31 12h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552 0-1 0.448-1 1v11h-11c-0.552 0-1 0.448-1 1v6c0 0.552 0.448 1 1 1h11v11c0 0.552 0.448 1 1 1h6c0.552 0 1-0.448 1-1v-11h11c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1z'></path></svg>");
    @apply w-2;
    @apply h-2;
    @apply mr-2;
  }
  &[aria-expanded=true] {
    &:before {
      transform: rotate(360deg);
      content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M0 13v6c0 0.552 0.448 1 1 1h30c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1h-30c-0.552 0-1 0.448-1 1z'></path></svg>");
    }
  }
}
