.row {
  @apply flex;
  @apply flex-wrap;
  @apply -mx-3;
}

@responsive {

  .flex-basis-1\/2 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .flex-basis-1\/3 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .flex-basis-2\/3 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  .flex-basis-1\/4 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .flex-basis-3\/4 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .flex-basis-1\/5 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }

  .flex-basis-2\/5 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }

  .flex-basis-3\/5 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }

  .flex-basis-4\/5 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }

  .flex-basis-1\/6 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;

  }

  .flex-basis-5\/6 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  .flex-basis-1\/8 {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .flex-basis-3\/8 {
    -ms-flex-preferred-size: 37.5;
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .flex-basis-5\/8 {
    -ms-flex-preferred-size: 62.5;
    flex-basis: 62.5%;
    max-width: 62.5%;
  }
  .flex-basis-7\/8 {
    -ms-flex-preferred-size: 87.5;
    flex-basis: 87.5%;
    max-width: 87.5%;
  }

  .flex-basis-full {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .list-disc {
    list-style: disc;
    padding-left: 1.1em;
  }

}
