.footer {
  @apply mx-auto;
  max-width: calc(1200px + 2.25rem + 1.5rem)
}

@screen xl {
  .footer {
    @apply mx-auto;
    max-width:calc(1400px + 4rem + 1.5rem)
  }
}

@screen lg {
  .footer {
    @apply mx-auto;
    max-width: calc(1200px + 4rem + 1.5rem)
  }
}

@screen md {
  .footer {
    @apply mx-auto;
    max-width: calc(1200px + 4rem + 1.5rem)
  }
}

.footer-nav {
  li::before {
    content: ' ';
  }
  li::after {
    content: ' ';
    word-spacing: 1em; /* = nav@padding-right - this actually makes width */
    background-image: linear-gradient(var(--color-brand-lightest), var(--color-brand-lightest), var(--color-brand-lightest));
    background-size: 0.12em 1em;
    @apply whitespace-normal;
    @apply bg-no-repeat;
    @apply bg-center;

  }
  a {
    line-height: 3;
  }
}

footer .badger-accordion__panel.-ba-is-hidden {
  max-height: 0 !important;
  overflow: hidden;
  @media (min-width: 992px) {
    max-height: 100% !important;
    overflow: visible;
  }
}
