.has-error {
  @apply border-danger;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  @apply color-danger;
}
.has-error label.required:after {
  @apply color-danger;
}

.has-error .form-control {
  @apply border-danger;
  -webkit-box-shadow: inset 0 1px 1px var(--color-main-accent);
  box-shadow: inset 0 1px 1px var(--color-main-accent);
}
