html, body {
  @apply h-full;
}

@import '../header/search';

.global-header .mobile-overlay {
  background-color: rgba(0,0,0,.57)
}

.global-header .mobile-overlay:after {
  @apply h-8 w-8 top-0 py-5 text-sm absolute z-101 right-8;
  transition: transform .35s;
  transform: scale3d(0,0,0);
  transition-delay: .25s;
  content: svg-uri("<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='#{map_get($colors, 'main-contrast')}' d='M12 1c-1.99 0-3.831.49-5.521 1.472a10.863 10.863 0 0 0-4.007 4.007C1.49 8.169 1 10.009 1 12c0 1.99.49 3.831 1.472 5.521a10.863 10.863 0 0 0 4.007 4.007C8.169 22.51 10.009 23 12 23c1.99 0 3.831-.49 5.521-1.472a10.862 10.862 0 0 0 4.007-4.006C22.51 15.832 23 13.99 23 12c0-1.99-.49-3.831-1.472-5.521a10.863 10.863 0 0 0-4.006-4.007C15.832 1.49 13.99 1 12 1zm0 20.646a9.679 9.679 0 0 1-3.04-.483 8.923 8.923 0 0 1-2.653-1.386 10.782 10.782 0 0 1-2.074-2.084 9.066 9.066 0 0 1-1.375-2.653A9.68 9.68 0 0 1 2.375 12c0-1.303.254-2.55.763-3.738a9.67 9.67 0 0 1 2.051-3.073 9.67 9.67 0 0 1 3.073-2.051A9.409 9.409 0 0 1 12 2.375c1.303 0 2.55.254 3.738.763a9.668 9.668 0 0 1 3.073 2.051 9.67 9.67 0 0 1 2.051 3.073A9.408 9.408 0 0 1 21.625 12c0 1.303-.254 2.55-.763 3.738a9.799 9.799 0 0 1-2.051 3.083 9.579 9.579 0 0 1-3.073 2.063 9.408 9.408 0 0 1-3.738.762zm3.889-13.535a.656.656 0 0 0-.484-.193.656.656 0 0 0-.483.193L12 11.033 9.078 8.111a.656.656 0 0 0-.483-.193.656.656 0 0 0-.484.193.656.656 0 0 0-.193.484c0 .193.064.354.193.483L11.033 12l-2.922 2.922a.726.726 0 0 0-.182.3.598.598 0 0 0 0 .355.72.72 0 0 0 .182.312c.13.129.29.193.484.193a.656.656 0 0 0 .483-.193L12 12.967l2.922 2.922c.129.129.29.193.483.193a.656.656 0 0 0 .484-.193.72.72 0 0 0 .182-.312.598.598 0 0 0 0-.354.726.726 0 0 0-.182-.301L12.967 12l2.922-2.922a.656.656 0 0 0 .193-.483.656.656 0 0 0-.193-.484z'/></svg>");
}

.global-header.mobile-opened .mobile-overlay {
  @apply visible opacity-100;
}

.global-header.mobile-opened .mobile-overlay:after {
  transform: scaleX(1);
}

.global-header.should-animate .exposed-as-mobile-nav {
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition: transform .15s,visibility .15s
}

.global-header .exposed-as-mobile-nav {
  transform: translate3d(-100%,0,0);
}

.global-header.mobile-opened .exposed-as-mobile-nav {
  @apply visible;
  transform: translateZ(0);
  transition: transform .45s,visibility .45s
}

.global-header.mobile-opened .mobile-nav {
  @apply opacity-0;
}

.global-header .mobile-nav {
  transition: opacity .25s;
}

.global-header .mobile-nav {
  transition: opacity .25s;
}

.global-header .cart-icon {
  transform: scale(-1,1);
}

.global-header .exposed-as-mobile-nav .category-title.has-children:after {
  content: svg-uri("<svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path fill='#{map_get($colors, 'main-dark')}' d='M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z'/></svg>");
  @apply absolute w-5 h-5;
  right: 1.0rem;
}

.global-header .exposed-as-mobile-nav .category-title.show-close-icon:after {
  transform: rotate(90deg);
}

.is-scrolled-past-search .header-promotion {
  @apply fixed;
  top: 4.0rem;
}

.el-is-snapped {
  @apply static top-0 left-0;
}

.nav-primary, .nav-secondary {
  font-size: 0;
}

.nav-primary ul {
  display: none;
}

.global-header .search-input,
.global-header .search-input-suggestion {
  caret-color: #0e7387;
}

.header-search .mobile-fascade {
   transition: opacity .1s linear;
}

.header-search .mobile-fascade span {
  transform: translate3d(-50%,0,0);
  transition: all .2s ease-out;
}

.header-search .is-opened .mobile-fascade,
.header-search .is-snapped-open-mobile .mobile-fascade,
.header-search .search-input:focus~.mobile-fascade {
  transition-delay: .19s;
  opacity: 0
}

.header-search .is-opened .mobile-fascade span,
.header-search .is-snapped-open-mobile .mobile-fascade span,
.header-search .search-input:focus~.mobile-fascade span {
  left: 1.4rem;
  transform: translateZ(0)
}

#header-nav {
  transform: translate3d(-100%,0,0);
}

@screen lg {

  .global-header .global-nav-container .cart-link {
    transform: scale3d(0,0,0);
    max-width: 0;
  }

  .global-header .global-nav-container .right-side-column {
    transition: all .2s ease-out;
  }

  .global-header .global-nav {
    transition: height .2s ease-out;
  }

  .global-header .global-nav .section-wrapper.basic-transitions:hover,
  .global-header .global-nav .section-wrapper.is-hovering {
    @apply pb-10;
  }

  .global-header .global-nav .section-wrapper.is-hovering .sub-categories-wrap {
    @apply visible opacity-100 z-1001 shadow-md;
    transition-delay: 0s;
  }

  .global-header .global-nav .section-wrapper.basic-transitions:hover .sub-categories,
  .global-header .global-nav .section-wrapper.is-hovering .sub-categories {
    @apply opacity-100;
    transform: translateY(0)
  }

  .global-header .global-nav .pp-logo {
    transition: transform .2s ease-out;
    transform-origin: left;
  }

  .global-header .el-is-snapped .global-nav .level0 span {
    font-size: 0.725rem;
  }

  .global-header .sticky-content:not(.el-is-snapped) {
    @apply absolute;
  }

  .global-header .sticky-content.el-is-snapped .pp-logo {
    transform: scale3d(.8,.8,.8);
  }

  .global-header .sticky-content.el-is-snapped .cart-link {
    @apply visible max-w-full w-1/3 opacity-100 ml-auto relative inline-flex items-center;
    transform: scaleX(1);
//    padding: .72rem .4rem;
  }

  .global-header .sticky-content.el-is-snapped .sub-categories-wrap {
    @apply top-11;
  }

  .global-header .exposed-as-mobile-nav .category-title.has-children:after {
    content: '';
    @apply hidden;
  }

  .main-page-wrap.nav-is-snapped {
    @apply pt-11;
  }


  .header-promotion-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #header-nav {
    transform:none;
    @apply block;
  }

  .el-is-snapped {
    @apply fixed;
  }

  .global-header .exposed-as-mobile-nav {
    transform:none;
  }

  .sticky-content.el-is-snapped {
    @apply fixed h-11 border-b border-brand-light;
  }

  .global-header .sticky-content {
    transition: height .2s ease-out;
  }

  .is-scrolled-past-search .header-promotion {
    @apply absolute;
    top: 0;
  }

  .header-search {
    animation: .15s ease-out 1 snap-out;
  }

  .header-search .search-input-col {
    transition: all .1s ease-out;
  }

  .header-search.nav-is-snapped .search-input-col {
    @apply px-3 relative min-h-min;
    width: 18%;
    transform: translate3d(-25%,0,0);
  }

  .header-search.nav-is-snapped {
    @apply fixed top-0;
    animation: .15s ease-out 1 snap-in;
  }

  .nav-primary .has-children:after {
    @apply relative right-auto w-4 h-4 hidden;
  }

}

@media (max-width:991.9px) {
  .global-header .exposed-as-mobile-nav .js-will-expand {
    display: none;
    overflow: hidden
  }

  .global-header .exposed-as-mobile-nav .js-will-expand.expanded {
    display: block
  }
}


@media (min-width: 992px) and (max-width:1041px) {
  .global-header .global-nav .level0 span {
    font-size:.75rem
  }

  .global-header .el-is-snapped .global-nav .level0 span {
    font-size: .65rem
  }
}

#header-nav .mobile-topbar {
  min-height: 3rem;
}

#header-nav.skip-active {
  visibility: visible;
  transform: translateZ(0);
  transition: transform .45s,visibility .45s
}

.js-opens-mobile-search {
  @apply invisible opacity-0 min-w-12 min-h-11;
  transition: all .2s ease-out;
  transform: translate3d(0,25%,0);
}

.js-opens-mobile-search.el-is-exposed {
  @apply visible opacity-100;

  transform: translateZ(0);
}

.out-of-view {
  text-indent: -9999px;
  display: inline-block;
  @apply hidden;
}

.cart-amount {
  bottom: 1.6rem;
  right: .5rem;
  padding: .2rem .0rem;
  width: 1.15rem;
  height: 1.15rem;
  line-height: 0.7rem;
}
