@screen md {
  .slide-home .slide-text {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

  }
  .slide-home .glide__track {
    @apply pb-20;
  }
  .slide-home .prev, .slide-home .next {
    -webkit-transform: translate(0, -69%);
    transform: translate(0, -69%);
    -ms-transform: translate(0, -69%);
    -o-transform: translate(0, -69%);
  }
}
@screen lg {
  .slide-home .glide__track {
    @apply pb-24;
  }
  .slide-home .slide-description {
    height: 9.6rem;
  }
}

.slide-home .glide__slides
{
  @apply overflow-visible;
  overflow: visible;
}

.slide-home .glide {
  @apply w-full #{!important};
}

.slide-home .glide__control {
  @apply w-auto #{!important};
}

.blockquote::before {
  font-family:  Arial, Helvetica, Verdana, Geneva, sans-serif;
  content: '\201C';
  font-size: 8em;
  z-index: -1;
  @apply  w-full
          h-full
          text-center
          leading-tight
          absolute
          top-0
          left-0
          color-main-lightest
    ;
}
