.pp-container {
  @apply mx-auto;
  @apply px-7;
  max-width: calc(1200px + 2.25rem + 1.5rem)
}

@screen xl {
  .pp-container {
    @apply mx-auto;
    @apply px-11;
    max-width:calc(1400px + 4rem + 1.5rem)
  }
}

@screen lg {
  .pp-container {
    @apply mx-auto;
    @apply px-11;
    max-width: calc(1200px + 4rem + 1.5rem)
  }
}

@screen md {
  .pp-container {
    @apply mx-auto;
    @apply px-11;
    max-width: calc(1200px + 4rem + 1.5rem)
  }
}
