/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */

/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/

// PhotoSwipe uses Autoprefixer, so vendor prefixed are added automatically when needed.

@import '../../node_modules/photoswipe/src/css/main';

@import "../../node_modules/photoswipe/src/css/main-settings";

//$pswp__root-z-index: 9000 !default;

.pswp {
	z-index: 9999;
}

.pswp__bg {
	@apply bg-text-primary-contrast;
	background: map_get($colors, 'main-contrast');
}

.pswp__title {
	@apply 	absolute
			color-text-primary
			w-full
			text-2xl
			h-12
			text-center
			overflow-hidden
			px-11
	;
}

/*

	1. Buttons

 */

/* <button> css reset */
.pswp__button {
	@apply 	w-12
	relative
	cursor-pointer
	overflow-visible
	appearance-none
	block
	border-none
	p-0
	m-0
	float-right
	opacity-75
	shadow-none
	;
	background: none;
	transition: opacity 0.2s;

	&:focus,
	&:hover {
		@apply opacity-100;
	}

	&:active {
		@apply 	opacity-75
		outline-none
		;
	}

	&::-moz-focus-inner {
		@apply	p-0
		border-0
		;
	}
}

//.pswp__button--close:before {
//	content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='#{map_get($colors, 'main-darkest')}' d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'></path></svg>");
//}
.pswp__button--close:before {
	content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M7.733 10.187L4.497 6.953A1.7 1.7 0 116.904 4.55l3.233 3.232 5.838 5.837 9.072-9.071a1.703 1.703 0 112.405 2.405l-9.072 9.069 9.072 9.072a1.694 1.694 0 010 2.405 1.704 1.704 0 01-2.407 0l-6.722-6.722-2.348-2.35-9.07 9.072a1.695 1.695 0 01-2.404 0 1.704 1.704 0 010-2.405l9.069-9.072-5.837-5.835z'></path></svg>");
}

.pswp__button--arrow--left:before {
	content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 33'><path fill='#{map_get($colors, 'main-darkest')}' d='M0 16.138L11.138 0l5.9 2.902-8.24 13.24 8.233 13.232-5.896 2.897L0 16.14z'></path></svg>");
}
.pswp__button--arrow--right:before {
	content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 33'><path fill='#{map_get($colors, 'main-darkest')}' d='M18 16.862L6.862 33l-5.9-2.902 8.24-13.24L.969 3.626 6.865.729 18 16.86v.002z'></path></svg>");
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
//.pswp__ui--over-close .pswp__button--close {
//	opacity: 1;
//}

//.pswp__button {
//.pswp__button--arrow--left:before,
//.pswp__button--arrow--right:before {
//	@apply 	w-11
//			h-11
//	;
//	background: url(#{$pswp__assets-path}default-skin.png) 0 0 no-repeat;
//	background-size: 264px 88px;
//}

@media (-webkit-min-device-pixel-ratio: 1.1),  (min-resolution: 105dpi), (min-resolution: 1.1dppx) {

	/* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
    .pswp--svg .pswp__button {
    //.pswp--svg .pswp__button--arrow--left:before,
	//.pswp--svg .pswp__button--arrow--right:before {
        background-image: url(#{$pswp__assets-path}default-skin.svg);
    }

    //.pswp--svg .pswp__button--arrow--left,
	//.pswp--svg .pswp__button--arrow--right {
	//	background: none;
	//}
}

//.pswp__button--close {
//	background-position: 0 -44px;
//}

.pswp__button--share {
	background-position: -44px -44px;
}

.pswp__button--fs {
	@apply hidden;
}

.pswp--supports-fs .pswp__button--fs {
	@apply block;
}

.pswp--fs .pswp__button--fs {
	background-position: -44px 0;
}

.pswp__button--zoom {
	@apply hidden;
	background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
	@apply block;
	display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
	background-position: -132px 0;
}

/* no arrows on touch screens */
.pswp--touch {
	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		@apply invisible;
	}
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
	@apply	absolute
			w-6
	;
	background: none;
	//top: 50%;
	//margin-top: -50px;
	//width: 70px;
	//height: 100px;
}

.pswp__button--arrow--left {
	@apply	left-0
			ml-10
	;
}

.pswp__button--arrow--right {
	@apply	right-0
			mr-10
	;
}

//.pswp__button--arrow--left:before,
//.pswp__button--arrow--right:before {
//	content: '';
//	top: 35px;
//	background-color: rgba(0,0,0,0.3);
//	height: 30px;
//	width: 32px;
//	position: absolute;
//}

//.pswp__button--arrow--left:before {
//	left: 6px;
//	background-position: -138px -44px;
//}
//
//.pswp__button--arrow--right:before {
//	right: 6px;
//	background-position: -94px -44px;
//}


/*

	2. Share modal/popup and links

 */

.pswp__counter,
.pswp__share-modal {
	@apply select-none;
}

.pswp__share-modal {
	@apply	block
			w-full
			h-full
			top-0
			left-0
			absolute
			opacity-0
	;

	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	z-index: $pswp__root-z-index + 100;
	transition: opacity 0.25s ease-out;
	-webkit-backface-visibility: hidden;
	will-change: opacity;
}

.pswp__share-modal--hidden {
	@apply hidden;
}

.pswp__share-tooltip {
	@apply	absolute
			block
			w-auto
			rounded-sm
	;

	z-index: $pswp__root-z-index + 120;
	background: #FFF;
	top: 56px;
	right: 44px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	transform: translateY(6px);
	transition: transform 0.25s;
	-webkit-backface-visibility: hidden;
	will-change: transform;

	a {
		@apply	block
				no-underline
				text-sm
		;
		padding: 8px 12px;
		color: #000;
		line-height: 18px;

		&:hover {
			@apply no-underline;
			color: #000;
		}


		&:first-child {
			/* round corners on the first/last list item */
			border-radius: 2px 2px 0 0;
		}

		&:last-child {
			border-radius: 0 0 2px 2px;
		}
	}
}

.pswp__share-modal--fade-in {
	@apply opacity-100;
	//opacity: 1;

	.pswp__share-tooltip {
		transform: translateY(0);
	}
}

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
	padding: 16px 12px;
}

a.pswp__share--facebook {
	&:before {
		@apply	block
				w-0
				h-0
				absolute
				pointer-events-none
		;
		content: '';
		top: -12px;
		right: 15px;
		border: 6px solid rgba(0, 0, 0, 0);
		border-bottom-color: #FFF;
	}

	&:hover {
		background: #3E5C9A;
		color: #FFF;

		&:before {
			border-bottom-color: #3E5C9A;
		}
	}
}

a.pswp__share--twitter {
	&:hover {
		background: #55ACEE;
		color: #FFF;
	}
}

a.pswp__share--pinterest {
	&:hover {
		background: #CCC;
		color: #CE272D;
	}
}

a.pswp__share--download {
	&:hover {
		background: #DDD;
	}
}


/*

	3. Index indicator ("1 of X" counter)

 */

.pswp__counter {
	@apply	absolute
			left-0
			top-0
			h-12
			opacity-75
	;
	font-size: 13px;
	line-height: 48px;
	color: #FFF;
	padding: 0 10px;
}


/*

	4. Caption

 */

.pswp__caption {
	@apply	absolute
			left-0
			bottom-0
			w-full
			min-h-11
	;

	small {
		font-size: 11px;
		color: #BBB;
	}
}

.pswp__caption__center {
	@apply	text-left
			my-0
			mx-auto
	;
	max-width: 420px;
	font-size: 13px;
	padding: 10px;
	line-height: 20px;
	color: #CCC;
}

.pswp__caption--empty {
	@apply hidden;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
	@apply invisible;
}


/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */

.pswp__preloader {
	@apply	w-11
			h-11
			absolute
			top-0
			opacity-0
	;
	left: 50%;
	margin-left: -22px;
	transition: opacity 0.25s ease-out;
	will-change: opacity;
	direction: ltr;
}

.pswp__preloader__icn {
	width: 20px;
	height: 20px;
	margin: 12px;
}

.pswp__preloader--active {
	@apply opacity-100;

	.pswp__preloader__icn {
		/* We use .gif in browsers that don't support CSS animation */
		background: url(#{$pswp__assets-path}preloader.gif) 0 0 no-repeat;
	}
}

.pswp--css_animation {
	.pswp__preloader--active {
		@apply opacity-100;

		.pswp__preloader__icn {
			animation: clockwise 500ms linear infinite;
		}

		.pswp__preloader__donut {
			animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
		}
	}

	.pswp__preloader__icn {
		@apply	opacity-75
				absolute
				m-0
		;
		background: none;
		width: 14px;
		height: 14px;
		left: 15px;
		top: 15px;
	}


	.pswp__preloader__cut {
		/*
			The idea of animating inner circle is based on Polymer ("material") loading indicator
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
		@apply	relative
				overflow-hidden
		;
		width: 7px;
		height: 14px;
	}

	.pswp__preloader__donut {
		@apply	border-2
				border-solid
				border-main-contrast
				absolute
				top-0
				left-0
				m-0
		;
		box-sizing: border-box;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border-left-color: transparent;
		border-bottom-color: transparent;
		background: none;
	}
}

@media screen and (max-width: 1024px) {
	.pswp__preloader {
		@apply	relative
				left-auto
				top-auto
				m-0
				float-right
		;
	}
}

@keyframes clockwise {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@keyframes donut-rotate {
  0% { transform: rotate(0) }
  50% { transform: rotate(-140deg) }
  100% { transform: rotate(0) }
}


/*

	6. Additional styles

 */

/* root element of UI */
.pswp__ui {
	@apply	subpixel-antialiased
			visible
			opacity-100
			flex
			w-full
			h-full
			items-center
	;
	z-index: $pswp__root-z-index + 50;
}

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
	@apply	absolute
			left-0
			top-0
			h-11
			w-full
	;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
	-webkit-backface-visibility: hidden;
	will-change: opacity;
	transition: opacity $pswp__controls-transition-duration cubic-bezier(.4,0,.22,1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse {
	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		@apply visible;
	}
}

.pswp__top-bar {
	@apply 	border-b
			border-main-dark
	;
}

//.pswp__top-bar,
//.pswp__caption {
//	background-color: rgba(0,0,0,0.5);
//}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
//.pswp__ui--fit {
//	.pswp__top-bar,
//	.pswp__caption {
//		background-color: rgba(0,0,0,0.3);
//	}
//}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */

.pswp__ui--idle {
	.pswp__top-bar {
		@apply opacity-0;
	}

	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		@apply opacity-0;
	}
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden {
	.pswp__top-bar,
	.pswp__caption,
	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		/* Force paint & create composition layer for controls. */
		opacity: 0.001;
	}
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide {
	.pswp__button--arrow--left,
	.pswp__button--arrow--right,
	.pswp__counter {
		@apply hidden;
	}
}

.pswp__element--disabled {
	@apply hidden #{!important};
}

@if $pswp__include-minimal-style == true {
	.pswp--minimal--dark {
		.pswp__top-bar {
			background: none;
		}
	}
}
