@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/components/navigation/navigation";
@import "../../node_modules/swiper/components/lazy/lazy";

@import "../../node_modules/swiper/css/swiper.min.css";

.slideshow-main {
  .swiper-pagination-bullets {
    //bottom: 10px;
    left: 0;
    width: 100%;
    .swiper-pagination-bullet {
      margin: 0 4px;
    }
  }
}

.gallery-top {
  //overflow: visible;
  .swiper-wrapper {
    .swiper-slide {
      @apply w-full #{!important};
    }
  }
  .swiper-button-next {

    @media(max-width:767px) {
      @apply  mt-0
              relative
              right-0
      ;
    }

    &:after {
      content:none;
    }
    .icon {
      width: 24px;
      height: 44px;
    }
  }
  .swiper-button-prev {
    @media(max-width:767px) {
      @apply  mt-0
              relative
              left-0
      ;
    }

    &:after {
      content:none;
    }
    .icon {
      width: 24px;
      height: 44px;
    }
  }
  .swiper-pagination-fraction {
    bottom: 2.25rem;
  }
  .zoom-image {
    @apply ml-16;
    &:before {
      content: "+";
      font-variant: normal;
      @apply  antialiased
      font-normal
      normal-case
      no-underline
      px-1
      color-main-darkest
      ;
    }
    &:after {
      @apply  absolute
      top-0
      left-0
      w-0
      h-0
      border-solid
      ;
      opacity: .35;
      content: "";
      z-index: -1;
      border-width: 100px 100px 0px 0px;
      border-color: map_get($colors, 'main-darkest') transparent transparent;
    }
  }
  @media (min-width: 992px) {
    .swiper-button-next, .swiper-button-prev {
      @apply hidden;
    }

    &:hover {
      .zoom-image, .swiper-button-next, .swiper-button-prev {
        @apply flex;
      }
    }
  }
}

.slideshow-thumb {
  .gallery-thumbs {
    height: 304px;
    @media(min-width: 1255px) {
      height: 408px;
    }
    .swiper-slide-thumb-active {
      > span {
        @apply border-main-darkest;
      }
    }
  }
  .swiper-button-next {
    position: inherit;
    top:  0;
    width: 24px;
    height: 24px;
    margin: 0.5rem auto 0;

    &:after {
      content:none;
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }
  .swiper-button-prev {
    position: inherit;
    top:  0;
    width: 24px;
    height: 24px;
    margin: 0 auto 0.5rem;

    &:after {
      content:none;
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }
  .swiper-button-disabled {
    @apply opacity-0;
  }
}

.breadcrumbs > span > span > *:not(:first-child):before  {
  content: "/";
  @apply  block
  font-normal
  mx-2
  ;
}

.js-tab-accordion .tabs {
  @apply hidden;

  @media(min-width:992px){
    @apply  block
    overflow-hidden
    ;
  }
  .active > span {
    @apply  border-b-2
    border-brand
    ;
  }
}

.js-tab-accordion .accordion-title {
  &:after {
    content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M31 12h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552 0-1 0.448-1 1v11h-11c-0.552 0-1 0.448-1 1v6c0 0.552 0.448 1 1 1h11v11c0 0.552 0.448 1 1 1h6c0.552 0 1-0.448 1-1v-11h11c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1z'></path></svg>");
    @apply  w-5
    h-5
    px-1
    ;
  }

  &[aria-selected=true] {
    &:after {
      content: svg-uri("<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path fill='#{map_get($colors, 'main-darkest')}' d='M0 13v6c0 0.552 0.448 1 1 1h30c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1h-30c-0.552 0-1 0.448-1 1z'></path></svg>");
    }
  }

  @media(min-width: 992px) {
    @apply hidden;
  }
}

.feature-details-container > ul {

  @extend .list-disc;

  > li {
    @apply  mb-6;
  }

}

.details-shortDescription > b {

  @apply text-xl;

}

.technical-specs-table  a {

  @apply  underline
  color-main-darkest
  cursor-pointer
  ;

  &:hover {
    @apply color-brand-light;
  }

}

.nutritionalvalues-content {
   > p:first-of-type {
      @apply  block
      color-main-darker
      m-0
      ;
    }
   > h4 {
      @apply  block
              color-main-darker
              mb-1
      ;
    }
    p {
      @apply mb-6;
    }
  figure {
    @apply  w-full
            mb-6
            text-sm
      ;
    table {
      @apply  w-full
              text-center
      ;

      tr {
        td {
          @apply  border
          border-main-lighter
          p-4
          ;
        }
      }

      tr:first-child {

        td {
          @apply  border
          border-main-lighter
          p-4
          font-bold
          bg-main-lighter
          ;
        }
      }
    }
    p {
      @apply m-0;
    }
  }

}

.variant-groups {
  .variant-group-options {
      margin-left: -.375rem;
      margin-right: -.375rem;
      .variant-option-label {
        margin: .375rem;
        &:before {
          @apply absolute;
          @apply w-full;
          @apply h-full;
          @apply top-0;
          @apply left-0;
          content: "";
          opacity: 0;
        }
        > span {
        @apply  border
                border-main
                border-solid;
        }
      }
    .disabled {
      &:after {
        content: ' ';
        position:absolute;
        width:100%;
        height:100%;
        overflow: hidden;
        background: svg-uri("<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='#{map_get($colors, 'main-darkest')}' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='#{map_get($colors, 'main-darkest')}' stroke-width='1'/></svg>") no-repeat center center;
        background-size: 100% 100%, auto;
      }
    }

      .variant-option-label.active, .variant-option-label:hover {
        border: 2px solid #000;
        > span {
          @apply border-none;
        }
        &:before {
          opacity: 1;
        }
      }
  }
}
.feature-details-container .feature-detail .feature-info, .feature-details-container .feature-detail .feature-info-link {
  &:before {
    content: "\2022";
    position: absolute;
    left: -1rem;
    color: #333;
  }
}
