$buttonLevels: (
  'primary',
  'secondary'
);

$sizes: (
  '': (
    'display': 'inline-block',
    'padding': '.5rem 1rem',
    'font-size': '1rem',
    'font-weight': '600',
    'line-height': '1.25',
    'border-radius': '.25rem',
    'text-decoration': 'none'
  ),
  'sm': (
    'padding': '0 .45rem',
    'font-size': '.85rem',
    'font-weight': '500',
    'line-height': '.9',
    'border-radius': '.15rem'
  ),
  'lg': (
    'padding': '.75rem 1.5rem',
    'font-size': '1.25rem',
    'font-weight': '600',
    'line-height': '1.25',
    'border-radius': '.5rem'
  )
);


@mixin respond-to($size) {
  @if map-has-key($sizes, $size) {
    $params: map-get($sizes, $size);
    $stdParams: map-get($sizes, '');

    @each $attribute, $value in $stdParams {
      @if (map-has_key($params, $attribute)) {
        #{$attribute}: #{map_get($params, $attribute)};
      }
    }
  }
}

@each $size, $params in $sizes {
  $seperator: '-';
  @if ($size == '') {
    $seperator: '';
  }

  .btn#{$seperator}#{$size} {
    @include respond-to($size)
  }
}

@each $level in $buttonLevels {
  $bgColor: var(--color-btn-#{$level}-bg);
  $textColor: var(--color-btn-#{$level}-text);
  $hoverColor: var(--color-btn-#{$level}-hover);
  $activeColor: var(--color-btn-#{$level}-active);

  .btn-#{$level} {
    background-color: $bgColor;
    color: $textColor;
  }
  .btn-#{$level}:focus {
    outline: 0;
    //-webkit-box-shadow: 0 0 0 .2em $activeColor;
    //box-shadow: 0 0 0 .2em $activeColor;
  }
  .btn-#{$level}:hover {
    background-color: $hoverColor;
    color: $textColor;
  }
  .btn-#{$level}:active {
    background-color: $activeColor;
    color: $textColor;
  }
}