@import '../../node_modules/sweetalert2/src/variables';

.swal2-popup {

  .swal2-content {
    justify-content: flex-start;
    font-size: 100%;
    font-weight: normal;
  }
}

.swal2-auto-width {
  min-width: $swal2-width;
  max-width: 43em;
  width: auto;
}

.swal2-container.pp-notify {
  z-index: 9999;
}

.pp-confirm.pp-confirm-warning {

  .swal2-popup {
    @apply border-warning;
  }

  .swal2-actions .swal2-confirm {
    @apply color-warning-darkest bg-warning-light;
  }

  .swal2-actions .swal2-confirm:hover {
    @apply color-warning;
  }

  .swal2-warning {
      @apply block border-warning-lighter;
  }

  .swal2-warning:before {
      @apply h-8 w-8 fill-current block absolute;
      margin-top: -2.16rem;
      width: 1.6rem;
      height: 1.6rem;
      content: svg-uri("<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path fill='#{map_get($colors, 'warning')}' d='M16 3c-3.472 0-6.737 1.352-9.192 3.808s-3.808 5.72-3.808 9.192c0 3.472 1.352 6.737 3.808 9.192s5.72 3.808 9.192 3.808c3.472 0 6.737-1.352 9.192-3.808s3.808-5.72 3.808-9.192c0-3.472-1.352-6.737-3.808-9.192s-5.72-3.808-9.192-3.808zM16 0v0c8.837 0 16 7.163 16 16s-7.163 16-16 16c-8.837 0-16-7.163-16-16s7.163-16 16-16zM14 22h4v4h-4zM14 6h4v12h-4z'/></svg>");
   }

}

.pp-confirm.pp-confirm-error {

  .swal2-x-mark {
    @apply hidden;
  }

  .swal2-popup {
    @apply border-danger;
  }

  .swal2-actions .swal2-confirm {
    @apply color-danger-dark bg-danger-lightest;
  }

  .swal2-actions .swal2-confirm:hover {
    @apply color-danger-light;
  }

  .swal2-error {
    @apply block border-danger-lighter;
  }

  .swal2-error:before {
    @apply h-8 w-8 fill-current block absolute;
    margin-top: -2.16rem;
    width: 1.6rem;
    height: 1.6rem;
    content: svg-uri("<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path fill='#{map_get($colors, 'danger')}' d='M16 3c-3.472 0-6.737 1.352-9.192 3.808s-3.808 5.72-3.808 9.192c0 3.472 1.352 6.737 3.808 9.192s5.72 3.808 9.192 3.808c3.472 0 6.737-1.352 9.192-3.808s3.808-5.72 3.808-9.192c0-3.472-1.352-6.737-3.808-9.192s-5.72-3.808-9.192-3.808zM16 0v0c8.837 0 16 7.163 16 16s-7.163 16-16 16c-8.837 0-16-7.163-16-16s7.163-16 16-16zM14 22h4v4h-4zM14 6h4v12h-4z'/></svg>");
  }

}

.pp-notify, .pp-confirm {

  .swal2-actions {
    @apply bg-main-accent p-4 justify-end mx-auto mt-4 mb-0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .swal2-actions .swal2-cancel {
    @apply color-main-darker font-semibold;
  }

  .swal2-actions .swal2-cancel:hover {
    @apply color-main;
  }

  .swal2-actions .swal2-confirm {
    @apply ml-4 inline-block font-semibold;
    padding: 0.65rem 1.25rem;
  }

  .swal2-header {
    padding: 2.25rem 4.75rem 0.0rem;
    @apply flex justify-start items-center flex-row;
  }

  .swal2-title {
    @apply text-lg color-main-darkest;
  }

  .swal2-popup {
    @apply border-0 border-t-4 border-solid p-0 flex rounded-t-none shadow-md;
    width: 34rem;
  }

  .swal2-icon {
    @apply block absolute m-0 left-6 border-solid border-4;
    width: 1.6rem;
    height: 1.6rem;
    top: 1.825rem;
  }

  .swal2-content {
    padding: 0.5rem 2.75rem 0.5rem 4.75rem;
    @apply color-main-darker;
  }

  .text-left {
    @apply text-left leading-normal;
  }
}

.pp-notify {
  .swal2-popup {
    @apply border-brand-light;
  }

  .swal2-header {
    padding: 2.25rem 1.75rem 1.0rem;
  }

  .swal2-title {
    @apply text-3xl;
  }

  .swal2-content {
    padding: 0.5rem 1.75rem;
    @apply color-main-darker;
  }
}
