{% extends 'layout.html.twig' %}

{% set locale = 'de_DE' %}

{% set verfuegbarSeit = date('2014-01-01 00:00:00.000000') %}

{% set aktionsPreis = date('2020-08-01 23:00:00.000000') %}

{% set product = {
    'name': 'Kaffeebecher mit Löffel',
    'slug': 'kaffeebecher-mit-loeffel',
    'code': '42',
    'id': '42-42',
    'price': 7.99,
    'shortDescription': '<b>Kaffeebecher mit Foto - Standard ist nicht alles</b><br><br>Ein individueller Start in den Tag. Vom lieben Gruß bis zum optischen Hinweis: ,,Meine Tasse!"\r\n
Ein einmaliger Start in den Tag ist mit diesen selbst gemachten Kaffeebechern vorprogrammiert. Ob ganz klassisch, in schwarz, gold, silber oder als bunter Muntermacher – jetzt Kaffeetasse selbst gestalten!',
    'description': '<ul>\r\n
\t<li>Hochwertiges Steingut</li>\r\n
\t<li>Extreme Haltbarkeit des Motivs durch Thermo-Transfer-Druck</li>\r\n
\t<li>Sp&uuml;lmaschinenfest</li>\r\n
\t<li>Motiv in Panorama-Format</li>\r\n
\t<li>Brillant gl&auml;nzender Aufdruck</li>\r\n
</ul>',
    'layout': {
        'tabs':
        [
            {
                "name" : "Details",
                "template" : "details01"
            },
            {
                "name" : "Technische Daten",
                "template" : "technical01"
            },
            {
                "name" : "Nährwerte",
                "template" : "nutritionalvalues01"
            },
        ]
    },
    'simple': true,
    'variantSelectionMethodChoice': true,
    'averageRating' : 4.6,
    'translation': {
        'locale': 'de_DE'
    },
    'acceptedReviews': [
        {},
        {}
    ],
    'mainTaxon' : {
        'isRoot': 'true',
        'name': 'Kaffeebecher',
        'slug': 'kaffeebecher',
        'description': 'Text',
        'translation': {
            'locale': 'de_DE'
        },
        'ancestors' : [
            {
                'isRoot': 'true',
                'name': 'Trinkgefäße',
                'slug': 'null',
                'description': 'Text',
                'translation': {
                    'locale': 'de_DE'
                }
            },
            {
                'isRoot': '',
                'name': 'Becher',
                'slug': 'category-becher',
                'description': 'Text',
                'translation': {
                    'locale': 'de_DE'
                }
            }
        ]
    },
    'images': [
        {
            'id': 122,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-RO/KB-00201-RO_120.jpg',
            'toDoSize' : {
                'width': 675,
                'height': 611
            },
            'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
        },
        {
            'id': 122,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-BL/KB-00201-BL_120.jpg',
            'toDoSize' : {
                'width': 675,
                'height': 611
            },
            'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
        },
        {
            'id': 122,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-BR/KB-00201-BR_120.jpg',
            'toDoSize' : {
                'width': 675,
                'height': 611
            },
            'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
        },
        {
            'id': 122,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-GE/KB-00201-GE_120.jpg',
            'toDoSize' : {
                'width': 675,
                'height': 611
            },
            'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
        },
        {
            'id': 122,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-SC/KB-00201-SC_120.jpg',
            'toDoSize' : {
                'width': 675,
                'height': 611
            },
            'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
        },

        {
            'id': 120,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201_zoom_01.jpg',
            'toDoSize' : {
                'width': 741,
                'height': 512
            },
            'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
        },
        {
            'id': 121,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201_zoom_02.jpg',
            'toDoSize' : {
                'width': 741,
                'height': 512
            },
            'productVariants': {
                'optionValues': {
                    'code': '58'
                }
            }
        },
        {
            'id': 124,
            'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201_zoom_04.jpg',
            'toDoSize' : {
                'width': 741,
                'height': 512
            },
            'productVariants': {
                'optionValues': {
                    'code': '58'
                }
            }
        },


    ],
    'variants': [
        {
            'id': 40,
            'name': 'Rot',
            'onHold': 0,
            'onHand': 10,
            'optionValue': [
                {
                    "value": "Rot",
                    "code": "40"
                }
            ],
            'images': [
                {
                    'id': 122,
                    'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-RO/KB-00201-RO_120.jpg',
                    'toDoSize' : {
                        'width': 675,
                        'height': 611
                    },
                    'productVariants': {
                    'optionValues': {
                        'code': '59'
                    }
                }
            },
            {
                'id': 122,
                'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-BL/KB-00201-BL_120.jpg',
                'toDoSize' : {
                'width': 675,
                'height': 611
            },
                'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
            },
            {
                'id': 122,
                'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-BR/KB-00201-BR_120.jpg',
                'toDoSize' : {
                'width': 675,
                'height': 611
            },
                'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
            },
            {
                'id': 122,
                'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-GE/KB-00201-GE_120.jpg',
                'toDoSize' : {
                'width': 675,
                'height': 611
            },
                'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
            },
            {
                'id': 122,
                'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-SC/KB-00201-SC_120.jpg',
                'toDoSize' : {
                'width': 675,
                'height': 611
            },
                'productVariants': {
                'optionValues': {
                    'code': '57'
                }
            }
            },
            ]
        },
        {
            'id': 41,
            'name': 'Blau',
            'onHold': 0,
            'onHand': 10,
            'optionValue': [
                {
                    "value": "Blau",
                    "code": "41"
                }
            ],
            'images': [
                {
                    'id': 123,
                    'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201-BL/KB-00201-BL_120.jpg',
                    'toDoSize' : {
                        'width': 675,
                        'height': 611
                    },
                    'productVariants': {
                    'optionValues': {
                        'code': '59'
                    }
                }
            },
            {
                'id': 120,
                'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201_zoom_01.jpg',
                'toDoSize' : {
                    'width': 741,
                    'height': 512
                },
                'productVariants': {
                    'optionValues': {
                        'code': '57'
                    }
                }
            },
            {
                'id': 121,
                'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201_zoom_02.jpg',
                'toDoSize' : {
                    'width': 741,
                    'height': 512
                },
                'productVariants': {
                    'optionValues': {
                        'code': '58'
                    }
                }
            },
            {
                'id': 124,
                'path' : 'https://www.printplanet.de/_pub/shared/material/KB-00201/KB-00201_zoom_04.jpg',
                'toDoSize' : {
                    'width': 741,
                    'height': 512
                },
                'productVariants': {
                'optionValues': {
                    'code': '58'
                }
            }
            },
            ]
        }
    ],
    'attributeValues': [
        {
            'name': 'Technische Daten',
            'value': {
                'material' : [
                    {
                        "name" : "Durchmesser",
                        "value" : "Ø 84 mm"
                    },
                    {
                        "name" : "Höhe",
                        "value" : "105 mm"
                    },
                    {
                        "name" : "Gewicht",
                        "value" : "ca. 390 g"
                    },
                    {
                        "name" : "Füllmenge",
                        "value" : "ca. 330 ml"
                    },
                    {
                        "name" : "Waschhinweis",
                        "value" : "<a href='#'>Handspülung empfohlen</a>"
                    },
                ],
                "product" : [
                    {
                        "name" : "Farbvarianten",
                        "value" : "blau, rot, gelb, braun, schwarz"
                    },
                    {
                        "name" : "Druckfläche",
                        "value" : "140 mm x 60 mm"
                    },
                    {
                        "name" : "Druckfläche",
                        "value" : "140 mm x 60 mm"
                    },
                    {
                        "name" : "Druckflächen Informationen",
                        "value" : "Brillant glänzende Foto-Druckqualität (Sublimation)\n\rHitzebeständig, kratz- und spülmaschinenfest\n\rExtreme Haltbarkeit des Motivs durch Thermo-Transfer-Druck"
                    }
                ]
        },
        'attribute' : {
        'id': 1,
        'code': 'technical_specs',
        'type': 'text',
        'configuration': {}
        }
        },
        {
            'name': 'Beschreibung',
            'value': 'Ein individueller Start in den Tag. Vom lieben Gruß bis zum optischen Hinweis: "Meine Tasse"!',
            'attribute' : {
                'id': 1,
                'code': 'mug_text',
                'type': 'text',
                'configuration': {
                    "min": 10,
                    "max": 100
                }
            }
        },
        {
            'name': 'Material',
            'value': ['9e1a90e2-164d-3b22-ba75-7de3c13deda3'],
            'attribute' : {
                'id': 2,
                'code': 'mug_material',
                'type': 'select',
                'configuration': {
                    "multiple": false,
                    "choices": {
                        "758cda11-83b4-3bad-a6cf-3a434f9ff893": {
                            "en_US": "Aluminum",
                            "de_DE": "Aluminium"
                        },
                        "c945deb4-4d92-39a1-9158-6fba867cadbf": {
                            "en_US": "Stainless steel",
                            "de_DE": "Edelstahl"
                        },
                        "9e1a90e2-164d-3b22-ba75-7de3c13deda3": {
                            "en_US": "Porcelain",
                            "de_DE": "Porzellan"
                        }
                    },
                    "min": null,
                    "max": null
                }
            }
        },
        {
            'name': 'Füllvolumen/ml',
            'value': 330,
            'attribute' : {
                'id': 3,
                'code': 'mug_filling_volume',
                'type': 'integer',
                'configuration': []
            }
        },
        {
            'name': 'Anteil Weichmacher',
            'value': 0,
            'attribute' : {
                'id': 4,
                'code': 'proportion_of_plasticizer',
                'type': 'percent',
                'configuration': []
            }
        },
        {
            'name': 'Druckfläche',
            'value': '14 cm x 7,2 cm',
            'attribute' : {
                'id': 5,
                'code': 'print_area',
                'type': 'text',
                'configuration': {
                    "min": 5,
                    "max": 100
                }
            }
        },
        {
            'name': 'Höhe',
            'value': 'ca. 9,5 cm',
            'attribute' : {
                'id': 6,
                'code': 'vessel_height',
                'type': 'text',
                'configuration': {
                    "min": 1,
                    "max": 20
                }
            }
        },
        {
            'name': 'Verfügbar seit',
            'value': verfuegbarSeit,
            'attribute' : {
                'id': 7,
                'code': 'verfuegbar_seit',
                'type': 'date',
                'configuration': {
                "format": "m-d-Y"
                }
            }
        },
        {
            'name': 'Verfügbar',
            'value': true,
            'attribute' : {
                'id': 8,
                'code': 'verfuegbar',
                'type': 'checkbox',
                'configuration': []
            }
        },
        {
            'name': 'Aktionspreis verfügbar bis',
            'value': aktionsPreis,
            'attribute' : {
                'id': 9,
                'code': 'promotional_price_available_until',
                'type': 'datetime',
                'configuration': {
                    "format": "m-d-Y-h-m-s"
                }
            }
        },
        {
            'name': 'Hashtags',
            'value': '#tasse\r\n#becher\r\n#kafeebecher',
            'attribute' : {
                'id': 10,
                'code': 'hashtags',
                'type': 'textarea',
                'configuration': []
            }
        },
    ],
    'associations' : [
        {},
        {
            'id': '54'
        }
    ]
}

%}

{#{% set productTranslation = attribute(product.translations, locale) %}#}

{% set defaultVariant = product.variants|first %}

{% set productTranslation = {
    'name': product.name,
    'shortDescription': product.shortDescription,
    'description': product.description,
} %}

{% block content %}

    <div id="presentationScreen" class="presentation-main">

        <div class="bg-main-accent">

            <div class="pp-container block">

                {% include 'Product/breadcrumbs/_index.html.twig' %}

                {% include 'Product/main/_index.html.twig' %}

            </div>

        </div>

    </div>

    <div class="pp-container lg:-mt-12">

        {% include 'Product/tabs/_index.html.twig' %}

        {% include 'Product/ratings/_index.html.twig' %}

    </div>

{% endblock %}

{% block endPage %}

    {% include 'Product/main/slideshow/zoom.html.twig' %}

{% endblock %}
