<div class="slideshow-main lg:flex-basis-4/5 lg:w-4/5 w-full">

    <div class="swiper-container gallery-top flex flex-col-reverse relative">

        <button class="zoom-image absolute z-2 hidden pt-3 pl-3 left-0 top-0 text-3xl"></button>

        <div class="swiper-pagination lg:hidden"></div>

        <div class="relative md:absolute w-full h-full flex justify-between md:py-0 py-6">

            <div class="swiper-button-prev main-nav-prev color-main-darkest hover:color-brand-light outline-none">

                {% include 'assets/svg/_pp-chevron-condensed-left.svg.twig' with {'title' : 'zurück'|trans, 'class': 'fill-current'}  %}

            </div>

            <div class="swiper-button-next main-nav-next color-main-darkest hover:color-brand-light outline-none">

                {% include 'assets/svg/_pp-chevron-condensed-right.svg.twig' with {'title' : 'vor'|trans, 'class': 'fill-current'}  %}

            </div>

        </div>

        <div class="swiper-wrapper main-slider flex items-center" itemscope itemtype="http://schema.org/ImageGallery">

            {% for image in defaultVariant.images %}

                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="swiper-slide">

                    <a href="{{ image.path }}" class="flex lg:mx-16" itemprop="contentUrl" data-size="{{ image.toDoSize.width }}x{{ image.toDoSize.height }}">

                        <img srcset="{{ image.path }}" data-src="{{ image.path }}" class="m-auto md:w-5/6 w-full lg:w-full h-full">

                    </a>

                    <figcaption class="hidden" itemprop="caption description">Image caption</figcaption>

                </figure>

            {% endfor %}

        </div>

    </div>

</div>
