<div class="hidden lg:flex slideshow-thumb h-full mr-6 flex-col -mt-6 lg:w-24">

    <div class="swiper-button-prev thumbs-nav-prev color-main-darkest hover:color-brand-light outline-none">

        {% include 'assets/svg/_pp-el-chevron-up.svg.twig' with {'title' : 'zurück'|trans, 'class': 'fill-current w-6'}  %}

    </div>

    <div class="swiper-container gallery-thumbs h-full flex">

        <div class="swiper-wrapper">

            {% for image in defaultVariant.images %}

                <div class="swiper-slide cursor-pointer text-center flex items-center">

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="w-full p-px bg-transparent">

                        <img class="w-auto h-auto max-h-full max-w-full m-auto" srcset="{{ image.path }}">

                        <figcaption class="hidden" itemprop="caption description">An elephant at sunset</figcaption>

                    </figure>

                </div>

            {% endfor %}

        </div>

    </div>

    <div class="swiper-button-next thumbs-nav-next color-main-darkest hover:color-brand-light outline-none">

        {% include 'assets/svg/_pp-el-chevron-down.svg.twig' with {'title' : 'vor'|trans, 'class': 'fill-current w-6'}  %}

    </div>

</div>
