<!DOCTYPE html>

<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}PP-Theme{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#304967">

    <meta name="cart-count-endpoint" content="{{ path('api_cart_index') }}">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {#        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">#}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        {% include '_stylesheets.html.twig' with {'path': '/customer/pp/css/app.css'} %}
    {% endblock %}
</head>
<body class="font-sans">

    <div class="ui container min-h-screen flex flex-col" id="app">
        {% block header %}
            {% include '_header.html.twig' %}
        {% endblock %}

        {#        {% include '_flashes.html.twig' %}#}
        <main id="main-content" tabindex="-1" class="main-page-wrap flex-grow lg:pt-24 outline-none">

            {% block content %}
            {% endblock %}

        </main>

        {% block footer %}
            {% include '_footer.html.twig' %}
        {% endblock %}

        {% block endPage %}

        {% endblock %}

    </div>

{% block javascripts %}

    {% block javascript_tokens %}
        <script>
            var algolia_app_id = '1TXHIK6IRR';
            var algolia_search_key = 'a9956417eac6763f5526448c2f40bc71';
        </script>
    {% endblock %}

    {% include '_javascripts.html.twig' with {'path': '/customer/pp/js/manifest.js'} %}
    {% include '_javascripts.html.twig' with {'path': '/customer/pp/js/vendor.js'} %}
    {% include '_javascripts.html.twig' with {'path': '/customer/pp/js/global.js'} %}
{% endblock %}

</body>
</html>
