<div class="row">

    <nav class="breadcrumbs flex justify-center flex-basis-full">

        <span class="flex px-3 relative flex-basis-2/3 justify-center h-12 items-center">

            <span class="flex color-main-darkest text-s">

                <a href="{{ path('index', {'slug': 'home'}) }}" class="flex hover:color-brand-light py-1 font-semibold leading-none color-main-darkest">{{ 'Home'|trans }}</a>
                {% if product.mainTaxon is not null %}

                    {% set taxon = product.mainTaxon %}

                    {% set ancestors = taxon.ancestors|reverse %}

                    {% for ancestor in ancestors %}
                        {#{% if ancestor.isRoot() %}#}

                        {% if ancestor.isRoot %}

                            <span class="flex cursor-default py-1 leading-none color-main-darkest">{% include 'Product/renderTypes/_default.html.twig' with {'value': ancestor.name } %}</span>

                        {% else %}

                            <a href="{{ path('product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}" class="flex hover:color-brand-light py-1 font-semibold leading-none color-main-darkest">

                                {% include 'Product/renderTypes/_default.html.twig' with {'value': ancestor.name } %}

                            </a>

                        {% endif %}

                    {% endfor %}

                    <a href="{{ path('product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="flex hover:color-brand-light py-1 font-semibold leading-none color-main-darkest">

                    {% include 'Product/renderTypes/_default.html.twig' with {'value': taxon.name } %}

                </a>

                {% endif %}

                <span class="product-name hidden md:flex cursor-default py-1 leading-none color-main-darkest">{% include 'Product/renderTypes/_default.html.twig' with {'value': product.name } %}</span>

            </span>

        </span>

    </nav>

</div>
