{% set starCounter = 5 %}

{% if reviewsPerPage is not defined %}

    {% set reviewsPerPage = 5 %}

{% endif %}

{% if currentPage is not defined %}

    {% set currentPage = 1 %}

{% endif %}

{% if productRatingSummary is null %}

    {% set currentReviews = 0 %}

{% else %}

    {% set currentReviews = productRatingSummary.qualityIndicators.reviewIndicator.totalReviewCount %}

{% endif %}

<div class="flex-row mx-auto" id="productRatings">

    <div class="productRatings-label relative w-full flex-basis-full">

        <h2 class="color-main-darkest mt-12 mb-6 pt-6 text-3xl text-center">{{ 'Produktbewertungen'|trans }}</h2>

    </div>

    {% if currentReviews > 0 %}

        <div class="productRatings-summary-full w-full">

            {% include 'Product/ratings/summary/_full.html.twig' %}

        </div>

        <div class="productRatings-content flex-row">

            <div class="productRatings-content-tabs mb-px">

                <div>

                    <ul class="flex text-sm lg:text-base">

                        <li class="mr-4 cursor-pointer">

                            <div class="pb-1 border-b-2 border-brand-darker color-brand-darker font-bold ">

                                <span>{{ 'Bewertungen'|trans }}</span>

                                {% if productReviews.showRatings != 'all' %}

                                    {% set ratingCounter = 0 %}

                                    {% for review in productReviews.reviews %}

                                        {% if productReviews.showRatings == review.mark %}

                                            {% set ratingCounter = ratingCounter + 1 %}

                                        {% endif %}

                                    {% endfor %}

                                {% else %}

                                    {% set ratingCounter = productRatingSummary.qualityIndicators.reviewIndicator.totalReviewCount %}

                                {% endif %}

                                <span>({{ ratingCounter|number_format(0, '.', '.') }})</span>

                            </div>

                        </li>

                    </ul>

                </div>

            </div>

            <div class="productRatings-content-ratings mb-10">

                <div>

                    {% set reviewCounter = 1 %}

                    {% if productReviews.showRatings !='all' %}

                        {% set reviews = [] %}

                        {% for review in productReviews.reviews %}

                            {% if productReviews.showRatings == review.mark %}

                                {% set reviews = reviews|merge([review])  %}

                            {% endif %}

                        {% endfor %}

                        {% set reviews = reviews|slice(reviewsPerPage * (currentPage - 1), reviewsPerPage) %}

                    {% else %}

                        {% set reviews = productReviews.reviews|slice(reviewsPerPage * (currentPage - 1), reviewsPerPage) %}

                    {% endif %}

                    {% for review in reviews %}

                        {% if productReviews.showRatings !='all' %}

                            {% if productReviews.showRatings == review.mark %}

                                <div class="productRatings-content-ratings-rating flex flex-col border-t py-6">

                                    {% include 'Product/ratings/_rating.html.twig' with {'review': review} %}

                                </div>

                            {% endif %}

                        {% else %}

                            <div class="productRatings-content-ratings-rating flex flex-col border-t py-6">

                                {% include 'Product/ratings/_rating.html.twig' with {'review': review} %}

                            </div>

                        {% endif %}

                    {% endfor %}

                    {% if ratingCounter > 5 %}

                        <div class="productRatings-content-ratings-pagination my-4 flex flex-row items-center justify-center">

                            <a class="h-3 w-3 mr-2">

                                {% include 'assets/svg/_pp-chevron-condensed-left.svg.twig' with {'class': 'flex fill-current color-main-darkest w-full h-full'} %}

                            </a>

                            <span class="text-s font-bold">1</span>

                            <a class="h-3 w-3 ml-2">

                                {% include 'assets/svg/_pp-chevron-condensed-right.svg.twig' with {'class': 'flex fill-current color-main-darkest w-full h-full'} %}

                            </a>

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    {% else %}

        <div class="productRatings-content flex w-full items-center justify-center py-5 border-t border-b mb-10">

            <span>{{ 'Noch sind keine Bewertungen vorhanden.'|trans }}</span>

        </div>

    {% endif %}

</div>
