<div class="productRatings-content-ratings-rating-header flex">

    <span class="avatar block mr-2 float-left">

        {% if review.reviewer is not defined %}

            <span class="icon block w-8 h-8 lg:w-10 lg:h-10">

                     {% include 'assets/svg/_pp-zmdi-account-circle.svg.twig' with {'class': 'flex fill-current color-main-darkest w-full h-full'} %}

                </span>

        {% else %}

            {% if review.reviewer.profile.avatar60URL is not defined %}

                <span class="icon block w-8 h-8 lg:w-10 lg:h-10">

                    {% include 'assets/svg/_pp-zmdi-account-circle.svg.twig' with {'class': 'flex fill-current color-main-darkest w-full h-full'} %}

                </span>

            {% else %}

                <span class="icon block w-8 h-8 lg:w-10 lg:h-10 rounded-full bg-contain" style='background-image: url("{{ review.reviewer.profile.avatar60URL }}");'></span>

            {% endif %}

        {% endif %}

    </span>

    <div class="header-element flex flex-col items-stretch">

        {% if review.reviewer is defined %}

            <label class="name text-s font-bold color-brand-dark flex flex-1 items-center">{{ review.reviewer.profile.firstname }} {{ review.reviewer.profile.lastname }}</label>

        {% endif %}

        <span class="flex flex-1 items-center">

            {% include 'Product/ratings/_helper/_stars.html.twig' with {'size': size|default('0.9em'), 'starCounter' : starCounter, 'rating': review.mark} %}

        </span>

        <div class="user-related-fields"></div>

    </div>

    <div class="header-element ml-auto float-right color-main-dim text-s flex items-center">

        <label class="review-date">{{ review.creationDate|date("d.m.Y") }}</label>

    </div>

</div>

<div class="productRatings-content-ratings-rating-main mt-3">

    <div>

        <div class="flex text-s lg:text-sm ml-10 lg:ml-12">{{ review.comment }}</div>

        {% if review.statement is defined %}

            <div class="mt-6 py-1 pl-9 lg:pl-11 border-l-2 border-main-dark">

                    {% include 'Product/ratings/_statement.html.twig' with {'statement': review.statement }%}

            </div>

        {% endif %}

    </div>

</div>

<div class="productRatings-content-ratings-rating-footer"></div>
