<div class="productRatings-content-ratings-rating-statement-header flex">

    <div class="flex items-stretch">

        <span class="avatar block mr-2 float-left">

            <span class="icon block w-6 h-6">

                 {% include 'assets/svg/_pp-printplanet-logo-mini.svg.twig' with {'class': 'flex fill-current w-full h-full'} %}

            </span>

        </span>

        <div class="header-element text-xs lg:text-s flex flex-col md:flex-row items-stretch">

            <label class="name font-bold color-brand-dark flex items-center">{{ 'PrintPlanet.de'|trans }}</label>

            <span class="flex items-center md:ml-1">{{ 'hat geantwortet'|trans }}</span>

        </div>

    </div>

    <div class="header-element float-right color-main-dim text-s items-center flex ml-auto">

        <label>{{ statement.creationDate|date("d.m.Y") }}</label>

    </div>

</div>

<div class="productRatings-content-ratings-rating-statement-main mt-3">

    <div>

        <div class="flex text-s lg:text-sm ml-10 lg:ml-12">{{ statement.comment }} </div>

    </div>

</div>

<div class="productRatings-content-ratings-rating-statement-footer"></div>
