$pretty--class-name: pretty !default;

// colors
$pretty--color-default: map_get($colors, 'main') !default;
$pretty--color-primary: map_get($colors, 'brand') !default;
$pretty--color-info: map_get($colors, 'brand-accent') !default;
$pretty--color-success: map_get($colors, 'success') !default;
$pretty--color-warning: map_get($colors, 'warning') !default;
$pretty--color-danger: map_get($colors, 'danger') !default;
$pretty--color-dark: map_get($colors, 'main-dark') !default;

// z-index
$pretty--z-index-back: 0 !default;
$pretty--z-index-between: 1 !default;
$pretty--z-index-front: 2 !default;

// box
$pretty--curve-radius: 20% !default;
$pretty--box-size: calc(1em + 2px) !default;

// text
$pretty--label-text-offset: 1.5em !default;
$pretty--label-text-offset-switch: 2.5em !default;

// scale
$pretty--2x: 1.2em !default;

// color set
$pretty--colors: (primary, $pretty--color-primary), (info, $pretty--color-info), (success, $pretty--color-success), (warning, $pretty--color-warning), (danger, $pretty--color-danger) !default;

// position
$pretty-top: 8;
$pretty-top-switch: ($pretty-top * 2) * 1%;
$pretty-top-offset: calc((0% - (100% - 1em)) - #{$pretty-top * 1%});
$pretty-top-offset-switch: calc((0% - (100% - 1em)) - #{$pretty-top-switch});

// dev
$pretty--debug: false !default;
$pretty--err-message: 'Error: Invalid input type!' !default;

@import '../node_modules/pretty-checkbox/src/scss/core';
@import '../node_modules/pretty-checkbox/src/scss/essentials/keyframes';
@import '../node_modules/pretty-checkbox/src/scss/essentials/functions';
@import '../node_modules/pretty-checkbox/src/scss/essentials/mixins';
@import '../node_modules/pretty-checkbox/src/scss/elements/default/fill';
@import '../node_modules/pretty-checkbox/src/scss/elements/default/outline';
@import '../node_modules/pretty-checkbox/src/scss/elements/default/thick';
@import '../node_modules/pretty-checkbox/src/scss/elements/font-icon/general';
@import '../node_modules/pretty-checkbox/src/scss/elements/svg/general';
@import '../node_modules/pretty-checkbox/src/scss/elements/image/general';
@import '../node_modules/pretty-checkbox/src/scss/elements/switch/general';
@import '../node_modules/pretty-checkbox/src/scss/elements/switch/fill';
@import '../node_modules/pretty-checkbox/src/scss/elements/switch/slim';
@import '../node_modules/pretty-checkbox/src/scss/states/hover';
@import '../node_modules/pretty-checkbox/src/scss/states/focus';
@import '../node_modules/pretty-checkbox/src/scss/states/indeterminate';
@import '../node_modules/pretty-checkbox/src/scss/extras/toggle';
@import '../node_modules/pretty-checkbox/src/scss/extras/plain';
@import '../node_modules/pretty-checkbox/src/scss/extras/round';
@import '../node_modules/pretty-checkbox/src/scss/extras/curve';
@import '../node_modules/pretty-checkbox/src/scss/extras/animation';
@import '../node_modules/pretty-checkbox/src/scss/extras/disabled';
@import '../node_modules/pretty-checkbox/src/scss/extras/locked';
@import '../node_modules/pretty-checkbox/src/scss/extras/colors';
@import '../node_modules/pretty-checkbox/src/scss/extras/bigger';
@import '../node_modules/pretty-checkbox/src/scss/extras/print';

.#{$pretty--class-name} {
  white-space: normal;

    p.svg {
      //top: -0.0625rem !important;
      top: 0 !important;
    }

  .state {
    .svg {
      top: 0 !important;
    }
    label {
      line-height: calc(1.4rem);
      text-indent: 0;
      padding-left: 2rem;

      &::after, &::before {
        top: 0 !important;
      }

      &:after {
        border: 1px solid transparent;
        background-color: transparent;
      }

      &:before {
        border: 1px solid $pretty--color-default;
        background-color: map_get($colors, 'main-contrast');
      }
    }
  }
}

.#{$pretty--class-name}.text-sm  {
  .state {
    label {
      line-height: calc(1.125rem);
    }
  }
}